<div class="ultimosAdicionadosCard">
    <a href="#"><img src="/images/Images/recomendado1Cropped.JPG" alt="FotoRecomendado"></a>
    <div class="recomendadoInfo">
         <h6 class="recomendadoTitulo">artistName</h5>             <!--  hacer dinamico el texto -->
        <p class="recomendoTexto">bio<p>                            <!--  hacer dinamico el texto -->
    </div>
</div>

