<div class="instrumento">
    <a href="/products/detailInstrument/<%= instrumento.InstrumId.id %>"><img src=<%=instrumento.img %> alt="fotoinstrumento">
    <p class="tituloInstrumento"><%= instrumento.titulo %></p>
    <p class="artistaInstrumento"><%= instrumento.precio %>$</p></a>
</div>
