<div class="cancion">
    <a href="/products/detailSong/<%= cancion.songId.id %>"><img src= <%=cancion.img %> alt="fotoCancion"></a>
    <p class="tituloCancion"><%= cancion.titulo %></p>
    <p class="artistaCancion"><%= cancion.nombre +" "+ cancion.apellido %></p>
</div>
