<div class="instrumento">
    <a href="/products/detailArtist/<%= artista.id %>"><img src="/images/usersAvatars/resizedandcropped/<%=artista.userAvatar%>"></a>
    <p class="tituloInstrumento"><%= artista.nombre + " " + artista.apellido %></p>
    <p class="artistaInstrumento"><%= artista.skills %></p></a>
</div>