<div class="instrumento">
    <a href="/products/detailInstrument/<%= artista.id.id %>"><img src=<%=artista.userAvatar %> alt="fotoArtista">
    <p class="tituloInstrumento"><%= artista.nombre + " " + artista.apellido %></p>
    <p class="artistaInstrumento"><%= artista.skills %>$</p></a>
</div>