<div class="ultimosAdicionadosCard">
    <a href="#"><img src= <%="/images/Images/"+dato.img %> alt="FotoRecomendado"></a>
    <div class="recomendadoInfo">
         <h6 class="recomendadoTitulo"><%= dato.artistName %></h5>             <!--  hacer dinamico el texto -->
        <p class="recomendoTexto"><%= dato.bio %><p>                            <!--  hacer dinamico el texto -->
    </div>
</div>

