<div class="ultimosAdicionadosCard">
    <a href="#"><img src= "/images/usersAvatars/resizedandcropped/<%= dato.userAvatar %>" alt="FotoRecomendado"></a>
    <div class="recomendadoInfo">
         <h6 class="recomendadoTitulo"><%= dato.nombre + " " + dato.apellido %></h5>   <!--  hacer dinamico el texto -->
        <p class="recomendoTexto"><%= dato.bio %><p>                            <!--  hacer dinamico el texto -->
    </div>
</div>

