<div class="cancion">
    <a href="#"><img src="/images/Images/tapadisco1.jpg" alt="fotoCancion"></a>
    <p class="tituloCancion"><%= cancion.tituloCancion %></p>
    <p class="artistaCancion"><%= cancion.artistaCancion %></p>
</div>
