<div class="carrouselCard">
    <img src= "<%= pathFotos %>/<%= relacionado.img %>" alt="productPhoto">
    <div class="carrouselCardInfo">
        <a href="#"><h4><%= relacionado.titulo %></h4></a>           <!--   HACER TEXTO DINAMICO -->
        <p><%= relacionado.descripcion %></p>
    </div>
</div>
