


        <article class="home-card-artist">
            <img src= <%= dato.userAvatar %> class="i-home-artist" alt="ClaraNunesUser" />
            <h5><%= dato.nombre + " " + dato.apellido %></h5>
            <h5><%= dato.skills %></h5>
            <p><%= dato.bio %></p>
        </article>
     


