<div class="instrumento">
    <a href="/products/product"><img src=<%="/images/Images/"+instrumento.img %> alt="fotoinstrumento">
    <p class="tituloInstrumento"><%= instrumento.tituloInstrumento %></p>
    <p class="artistaInstrumento"><%= instrumento.precio %>$</p></a>
</div>
