


        <article class="home-card-artist">
            <img src="/images/Images/recomendado1Cropped.JPG" class="i-home-artist" alt="ClaraNunesUser" />
            <h5><%= dato.artistName %></h5>
            <h5><%= dato.skills %></h5>
            <p><%= dato.bio %></p>
        </article>
     <!--    <article class="home-card-artist">
            <img src="/images/Images/recomendado2Cropped.JPG" class="i-home-artist" alt="ChizoCantante" />
            <h5>Chizo</h5>
            <h5>Cantante</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel excepturi deleniti debitis</p>
        </article>
        <article class="home-card-artist">
            <img src="/images/Images/recomendado3Cropped.JPG" class="i-home-artist"
                alt="YezzaMesaMultinstrumentista" />
            <h5>Yezza Mesa</h5>
            <h5>Multinstrumentista</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel excepturi deleniti debitis </p>
        </article> -->



