<!-- ======= FOOTER | PIE DE PAGINA ========= -->

<footer>
    <!-- Adicionando iconos font-awesome de redes sociales -->
    <div class="redessociales-footer">
        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></a>
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <a href="#" target="_blank"><i class="fas fa-share-alt-square"></i></a>
    </div>

    <div class="main-footer">
        <div class="main-footer-der-text">
            <ul>
                <!--style="text-decoration:none" le quita el subrayado a los enlaces -->
                <li><a href="mailto:musiqueiro.herokuapp@gmail.com
                    " style="text-decoration:none">Contactanos</a></li>
                <li><a href="#" style="text-decoration:none">Acerca de</a></li>
                <li><a href="#" style="text-decoration:none">Términos y condiciones</a></li>
            </ul>
        </div>

        <div class="main-footer-izq-text">
            <ul>
                <li><a href="mailto:musiqueiro.herokuapp@gmail.com" style="text-decoration:none">Trabajá
                        con nosotros</a></li>
                <li><a href="#" style="text-decoration:none">FAQs</a></li>
            </ul>
        </div>
    </div>
</footer>