<!-- ======= HEADER | BARRA DE NAVEGACION HOME ========= -->

<header>
    <nav class="main-header">
        <div class="navbar-left">
            <!-- Creando la parte izquierda de la NavBar -->
            <a href="/"><img src="/images/Images/Logo redondo.jpg" class="navbar-logo mobile" alt="Logo Musiqueiros Mobile" /></a>
            <a href="/"><img src="/images/Images/Logo Horizontal.jpg" class="navbar-logo desktop" alt="Logo Musiqueiros" /></a>
        </div>

        <div class="navbar-right">
            <p>Hola,<span>Pedro</span>!</p>
            <a href="#"><i class="fas fa-bars mobile"></i></a>
            <ul class="desktop">
                <li><a href="/products/tienda"><i class="fas fa-store desktop" id="navbar-store"></i></a></li>
                <li><a href="/products/tienda/songs" class="navbar-accordion">Música</a></li>
                <li><a href="/products/tienda/instruments" class="navbar-accordion">Instrumentos</a></li>
            </ul>

            <!-- Boton Ingreso responsivo | Exibido en NavBar en > 700px -->
            <a href="/cart/cart1"><i class="fas fa-shopping-cart desktop"></i></a>
            <a href="/cart/cart1"><i class="far fa-user-circle desktop"></i></a>
            <a href="/user/login" class="boton-navbar desktop">Log in</a>
            <a href="/user/logout" class="boton-navbar desktop">Logout </a>
        </div>
    </nav>
</header>