<!-- ======= HEADER | BARRA DE NAVEGACION HOME ========= -->

<header>
    <nav>
        <div class="main-header">
            <div class="navbar-left">
                <!-- Creando la parte izquierda de la NavBar -->
                <a href="/"><img src="/images/Images/Logo redondo.jpg" class="navbar-logo mobile" alt="Logo Musiqueiros Mobile" /></a>
                <a href="/"><img src="/images/Images/Logo Horizontal.jpg" class="navbar-logo desktop" alt="Logo Musiqueiros" /></a>
            </div>

            <div class="navbar-right">
                <a href="#" id="navbar-saludoUsuario"><p>Hola,<span>Pedro</span>!</p></a>
                <a href="#" id="navbar-burgerButton"><i class="fas fa-bars mobile"></i></a>
                <a href="/products/tienda"><i class="fas fa-store desktop" id="navbar-store"></i></a>
                <ul class="desktop">
                    <li><a href="/products/tienda/songs" class="navbar-accordion">Música</a></li>
                    <li><a href="/products/tienda/instruments" class="navbar-accordion">Instrumentos</a></li>
                </ul>

                <!-- Boton Ingreso responsivo | Exibido en NavBar en > 700px -->
                <a href="/cart/cart1"><i class="fas fa-shopping-cart desktop"></i></a>
                <a href="/user/login" class="boton-navbar desktop">Login</a>
                <a href="/user/logout" class="boton-navbar desktop">Logout</a>
            </div>
        </div>
        <div class="navbar-desplegable">
            <ul>
                <li><a href="/products/tienda"><i class="fas fa-store" id="navbar-store">Tienda</i></a></li>
                <li><a href="/cart/cart1"><i class="fas fa-shopping-cart"></i>Carrito</a></li>
                <li><a href="/user/login">Login</a></li>
                <li><a href="/user/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <script type="text/javascript" src="/js/navbar.js"></script>
</header>