<!-- ======= HEADER | BARRA DE NAVEGACION HOME ========= -->

<header>
    <nav>
        <div class="main-header">
            <div class="navbar-left">
                <!-- Creando la parte izquierda de la NavBar -->
                <a href="/"><img src="/images/Images/Logo redondo.jpg" class="navbar-logo mobile" alt="Logo Musiqueiros Mobile" /></a>
                <a href="/"><img src="/images/Images/Logo Horizontal.jpg" class="navbar-logo desktop" alt="Logo Musiqueiros" /></a>
            </div>

            <div class="navbar-right">
                <% if (locals && locals.idusuario != "noLogueado") { %>
                    <a href="/user/userprofile/<%= locals.idusuario %>" id="navbar-saludoUsuario" style="text-decoration: none"><p>Hola,<span> <%=locals.nombre%></span>!</p></a>
                <% } %>
                <a href="#" id="navbar-burgerButton"><i class="fas fa-bars mobile"></i></a>
                <a href="/products/tienda"><i class="fas fa-store desktop" id="navbar-store"></i></a>
                <ul class="desktop">
                    <li><a href="/products/tienda/songs" class="hide">Música</a></li>
                    <li><a href="/products/tienda/instruments" class="hide">Instrumentos</a></li>
                </ul>

                <!-- Boton Ingreso responsivo | Exibido en NavBar en > 700px -->
                <% if (locals && locals.idusuario != "noLogueado") { %>
                    <a href="/cart/cart1" style="text-decoration: none"><i class="fas fa-shopping-cart desktop"></i></a>
                <% } %>
                <% if (locals && locals.idusuario == "noLogueado") { %>
                    <a href="/user/login" class="boton-navbar desktop" style="text-decoration: none">Login</a>
                <% } %>
                <% if (locals && locals.idusuario != "noLogueado") { %>
                    <a href="/user/logout" class="boton-navbar desktop" style="text-decoration: none">Logout</a>
                <% } %>
            </div>
        </div>
        <div class="navbar-desplegable">
            <ul>
                <li>
                    <a style="text-decoration: none" id="navbar-desplegable-tienda"><i class="fas fa-store" id="navbar-store"></i>Tienda</a>
                    <ul class="acordion-vertical">
                        <li><a href="/products/tienda" class="navbar-accordion" style="text-decoration: none">Home</a></li>
                        <li><a href="/products/tienda/songs" class="navbar-accordion" style="text-decoration: none">Música</a></li>
                        <li><a href="/products/tienda/instruments" class="navbar-accordion" style="text-decoration: none">Instrumentos</a></li>
                    </ul>
                </li>
                <% if (locals && locals.idusuario != "noLogueado") { %>
                    <li><a href="/cart/cart1" style="text-decoration: none"><i class="fas fa-shopping-cart"></i>Carrito</a></li>
                <% } %>
                <% if (locals && locals.idusuario == "noLogueado") { %>
                    <li><a href="/user/login" style="text-decoration: none"><i class="far fa-user-circle"></i>Login</a></li>
                <% } %>
                <% if (locals && locals.idusuario != "noLogueado") { %>
                    <li><a href="/user/logout" style="text-decoration: none"><i class="fas fa-sign-in-alt"></i>Logout</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
    <script type="text/javascript" src="/js/navbar.js"></script>
</header>