<!-- ======= HEADER | BARRA DE NAVEGACION HOME ========= -->

<header class="main-header">

    <nav class="main-header-izq">
        <!-- Creando la parte izquierda de la NavBar -->
        <a href="/"><img src="/images/Images/Logo redondo.jpg" class="logoMobile" alt="Logo Musiqueiros Mobile" /></a>
        <a href="/"><img src="/images/Images/Logo Horizontal.jpg" class="logo" alt="Logo Musiqueiros" /></a>
    </nav>

    <nav class="main-header-der">
        <!-- Creando la parte derecha de la NavBar -->
        <a href="#" class="hamburguer-button">
            <!-- Boton responsivo -->
            <i class="fas fa-bars"></i>
        </a>
        <ul>
            <!--style="text-decoration:none" le quita el subrayado a los enlaces -->
            <li><a href="/products/tienda/songs" style="text-decoration:none">Musica</a></li>
            <li><a href="/products/tienda/instruments" style="text-decoration:none">Instrumentos</a></li>
            <li><a href="/products/tienda" style="text-decoration:none">Tienda</a></li>
        </ul>

        <!-- Boton Ingreso responsivo | Exibido en NavBar en > 700px -->
        <a href="/user/login" class="button" target="_blank">Ingresa </a>

    </nav>
</header>