<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Implementando Google fonts (https://fonts.google.com/) -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- GoogleFonts => Copio y pego en el head los links que me da la GFonts, luego de haberlos elegido -->
    <link href="https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Roboto&display=swap" rel="stylesheet">
    <!-- GoogleFonts => Implementando Roboto + Palette Mosaic -->
    
    <script src="https://kit.fontawesome.com/17d45040ef.js" crossorigin="anonymous"></script>
    <!-- Implementando Font-Awesome -->
    
    
    <link rel="stylesheet" href="/css/normalize.css"> <!-- Implementando Libreria Normalize.css (https://necolas.github.io/normalize.css/) para que el sitio web sea homogeneo en los diferentes navegadores. Desde el sitio, descargo, guardo como la css en la misma carpeta del proyecto y luego la linkeo -->
    <link rel="stylesheet" href="/css/styles.css">  <!-- Usa esta linea para direccionarla a tu CSS -->
    <link rel="stylesheet" href="/css/cart1Alex.css">  <!-- Usa esta linea para direccionarla a tu CSS -->

    <title>Document</title>
</head>
<body>
    <!-- ======= HEADER | BARRA DE NAVEGACION HOME ========= -->

    <%- include ('partials/navbar.ejs', {}) %>

    <main>
        <!--Section para la barra que dice en que parte del pago estas-->
        <section class="cart1Alex-menu">
            <ul class="cart1Alex-menuContainer">
                <li class="cart1Alex-menuOption" id="cart1Alex-menuOption-1"><a href="/cart/cart1">Tu carrito</a></li>
                <li class="cart1Alex-menuOption" id="cart1Alex-menuOption-2"><a href="/cart/cart2">Detalles del envio</a></li>
                <li class="cart1Alex-menuOption" id="cart1Alex-menuOption-3"><a href="/cart/cart3">Opciones de pago</a></li>
            </ul>
        </section>

        <!--Tabla con los datos-->
        <section class="cart1Alex-tabla">
            <p id="cart1Alex-tablaHeader">Tu carrito</p>
            <div id="cart1Alex-tablaDatosContainer">
                <table id="cart1Alex-tablaDatos">
                    <tr>
                    <th>Producto</th>
                    <th>Descripcion del producto</th>
                    <th>Precio unitario</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    </tr>
                    <tr>
                    <td>Producto 1</td>
                    <td>Descripcion producto 1</td>
                    <td>Precio producto 1</td>
                    <td>Cantidad producto 1</td>
                    <td>Total Producto 1</td>
                    </tr>
                    <tr>
                        <td>Producto 2</td>
                        <td>Descripcion producto 2</td>
                        <td>Precio producto 2</td>
                        <td>Cantidad producto 2</td>
                        <td>Total Producto 2</td>
                    </tr>
                    <tr>
                        <td>Producto 3</td>
                        <td>Descripcion producto 3</td>
                        <td>Precio producto 3</td>
                        <td>Cantidad producto 3</td>
                        <td>Total Producto 3</td>
                    </tr>
                </table>
            </div>
        </section>
        <section class="cart1Alex-botones">
            <button class="cart1Alex-botonesOpcion" id="cart1Alex-botonesOpcionSeguir"><i class="fas fa-store"><span>Seguir comprando</span></i></button>
            <div class="cart1Alex-botonesContainer">
                <button class="cart1Alex-botonesOpcion"><i class="far fa-trash-alt"><span>Limpiar pedido</span></i></button>
                <button class="cart1Alex-botonesOpcion"><i class="fas fa-pen"><span>Actualizar Datos</span></i></button>
            </div>
        </section>
        <section class="cart1Alex-datos">
            <article class="cart1Alex-datosCalcular">
                <p>Calcular envio</p>
                <div class="cart1Alex-datosFormulario">
                <form>
                    <div class="cart1Alex-datosFormularioEntrada">
                        <label>Pais</label>
                        <select name="pais" required class="cart1Alex-datosFormularioEntradaInput">
                            <option selected></option>
                            <option value="Argentina">Argentina</option>
                            <option value="Brasil">Brasil</option>
                            <option value="Mexico">Mexico</option>
                        </select>
                    </div>
                    <div class="cart1Alex-datosFormularioEntrada">
                        <label>Estado/Provincia</label>
                        <select name="estado" required class="cart1Alex-datosFormularioEntradaInput">
                            <option selected></option>
                            <option value="Caba">Buenos Aires</option>
                            <option value="Provincia de BsAs">Caba</option>
                            <option value="Corodoba">Cordoba</option>
                        </select>
                    </div>
                    <div class="cart1Alex-datosFormularioEntrada">
                        <label>Localidad</label>
                        <input type="text" name="localidad" class="cart1Alex-datosFormularioEntradaInput">
                    </div>
                    <div class="cart1Alex-datosFormularioEntrada">
                        <label>Codigo postal</label>
                        <input type="number" name="codigoPostal" class="cart1Alex-datosFormularioEntradaInput">
                    </div>
                    <button type="submit" class="cart1Alex-botonesOpcion" id="cart1Alex-botonesOpcionCalcular"><i class="fas fa-calculator"><span>Calcular</span></i></button>
                </div>
                </form>
            </article>
            <article class="cart1Alex-datosTotales">
                <p>Totales<p>
                <p>Subtotal:<span>10000$</span></p>
                <p>Total:<span>15000$</span></p>
                <button type="submit" class="cart1Alex-botonesOpcion" id="cart1Alex-botonesOpcionContinuar"><span>Continuar<i class="fas fa-arrow-right"></i></span></button>
            </article>
        </section>
    </main>



         <!-- ======= FOOTER | PIE DE PAGINA ========= -->

         <%- include ('partials/footer.ejs', {}) %>


</body>
</html>