<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles.css"> 
</head>

<body class=fondo404>



    <!-- ======= BODY | CUERPO DEL 404ERROR ========= -->
    <div class=titles404>
    <h2>Error 403. <br> Vola de aca!</h2>
    </div>
    <br> 

    <div class=subtitle404>
    <h4 class =subtitle404>Te recomendamos probar con los siguientes enlaces:</h4>
    
    <ul>
        <a href="/"><li>Home</li></a>
        <a href="/products/tienda"><li>Tienda</li></a>
        <a href="/user/login"><li>Login</li></a>
        <a href="/user/register"><li>Register</li></a>
    </ul>
    </div>
</body>
</html>