<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Usa esta linea para direccionarla a tu CSS -->


    <!--<link rel="stylesheet" href="/css/styles.css">  Descomentar esta linea cuando el CSS este compilado -->

</head>

<body>
    <!-- ======= HEADER | BARRA DE NAVEGACION HOME ========= -->

    <%- include ('partials/navbarlogada.ejs', {}) %>

    <!--CONTENIDO-->
    <main class="principal">
        <!--productos-->
        <div class="create-product-container">

            <!-- <div class="productImagesButtons"> -->
            <!-- <button><i class="fas fa-upload"><span class="agregarTexto special">Subir cancion</span></i></button> -->
            <!-- <button><input type='file' placeholder="Carga tu foto aqui" style="display: none"><i class="fas fa-image"><span class="agregarTexto special">Cambiar imagen</span></i></button> -->
            <!-- </div> -->

            <div class="create-productInformation-container">
                <form method='POST' action="/products/createproduct">
                    <div class="productImages">
                        <label for='productEmptyButton' class='productEmptyButton'>Cargá una imagen</label>
                        <input class='productEmptyButton' name='productEmptyButton' id='productEmptyButton' type='file'
                            placeholder="Cargá tu foto aqui">
                    </div>
                    <div class="productInformation">
                        <h2><input type='text' name='titulo' placeholder="Cargá tu titulo aquí"></h2>
                        <p class='create-productprice'><input type='number' name='precio' placeholder="Precio"><span
                                class="currency">U$D</span></p>
                        <!-- <i class="fas fa-star"><span class="stars">4.5</span></i> -->
                    </div>
                    <p class="create-productDescription"><input name='descripcion' type='textarea'
                            placeholder="Cargá una breve descripción de tu producto"></p>
                    <!-- <button class="agregar"><i class="fas fa-cart-plus"><span class="agregarTexto">Agregar al carrito</span></i></button> -->

                    <div class="editar">
                        <button class='Salvar-anuncio-button'>Salvar anuncio</button>
                    </div>
            </div>
            </form>
        </div>

    </main>

    <!-- ======= FOOTER | PIE DE PAGINA ========= -->

    <%- include ('partials/footer.ejs', {}) %>

</body>

</html>