<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head.ejs")%>
    <link rel="stylesheet" href="/css/stylesDan.css"> <!-- Usa esta linea para direccionarla a tu CSS -->
    <link rel="stylesheet" href="/css/stylesAlex.css"> <!-- Usa esta linea para direccionarla a tu CSS -->


    <!--<link rel="stylesheet" href="/css/styles.css">  Descomentar esta linea cuando el CSS este compilado -->

</head>

<body>
    <!-- ======= HEADER | BARRA DE NAVEGACION HOME ========= -->

    <%- include ('partials/navbarAlex.ejs', {}) %>

    <!--CONTENIDO-->
    <main class="principal">
        <!--productos-->
        <form class="product-container" method='POST' action="/products/createsong" enctype="multipart/form-data">
            <div class="productImages">
                <label for='songEmptyImgBtn' class='songEmptyImgBtn'>Cargá una imagen</label>
                <input class='songEmptyImgBtn' name='songEmptyContentBtn1' id='songEmptyImgBtn' type='file'
                    placeholder="Cargá tu foto aquí">
                <label for='songEmptyFileBtn' class='songEmptyFileBtn'>Cargá una canción</label>
                <input type='file' name='songEmptyContentBtn2' id='songEmptyFileBtn' class='songEmptyFileBtn'
                    placeholder="Cargá tu canción aquí">
                <div class="productImagesButtons">
                    <!-- <button><i class="fas fa-upload"><span class="agregarTexto special">Subir cancion</span></i></button> -->
                    <!-- <button><i class="fas fa-image"><span class="agregarTexto special">Cambiar imagen</span></i></button> -->
                </div>
            </div>
            <div class="productInformation-container">
                <div class="productInformation">
                    <h2><input type='text' class="productInformation-name" name="titulo"
                            placeholder="Cargá tu título aquí"></h2>
                    <div class="priceStars">
                        <p><input type='number' class="productInformation-precio" name="precio"
                                placeholder="Cargá tu precio aquí"><span class="currency">U$S</span></p>
                        <!-- <i class="fas fa-star"><span class="stars">4.5</span></i> -->
                    </div>
                    <p class="productInformation-description"><input type='textarea' name="descripcion"
                            placeholder="Cargá una breve descripción de tu canción"></p>
                    <!-- <button class="agregar"><i class="fas fa-cart-plus"><span class="agregarTexto">Agregar al carrito</span></i></button> -->
                </div>
                <div>
                    <label for='songempty-saveedit-btn' class='songempty-saveedit-btn'>Salvar anuncio
                        <input name='songempty-saveedit-btn' id='songempty-saveedit-btn' type='submit'></label>
                </div>



            </div>

        </form>

    </main>

    <!-- ======= FOOTER | PIE DE PAGINA ========= -->

    <%- include ('partials/footer.ejs', {}) %>

</body>

</html>