:root {
    --azulOscuro:#001f2c;
    --verdeOscuro:#004d61;
    --verdeIntermedio:#008198;
    --verdeClaro:#00bacd;
    --aguamarina:#00f6ff;
    --letraTitulos:'Palette Mosaic', cursive;
    --letraParrafos:'Roboto', sans-serif;
}


* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* Menu que muestra en que parte del pago te encontras */
.cart2Alex-menu {
    border-top:1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 15px;
}

.cart2Alex-menu {
    display:flex;
    justify-content: center;
    align-items: center;
}

.cart2Alex-menuContainer {
    width:100%;
    height:15vh;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    max-width:700px;
}

.cart2Alex-menuOption {
    margin: 0 5px;
}

.cart2Alex-menuOption a {
    text-decoration: none;
    font-size:15px;
    font-family: sans-serif;
}
/* Subrayo la pagina en la que estoy */
#cart2Alex-menuOption-2 {
    border-bottom: 1px solid white;
}

/* Detalles de envio */
.cart2Alex-mainContainer {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    max-width: 500px;
    margin:0 auto;
}
.cart2Alex-detallesEnvio {
    width:90%;
    max-width: 400px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart2Alex-detallesEnvio-titulo {    
        margin:5px auto;
        font-family: 'Happy Monkey', cursive;
        font-size: 28px;
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 18px -8px 15px rgba(255, 255, 255, 0.46);
        padding-bottom: 20px;
            
}

.cart2Alex-detallesEnvio p,.cart2Alex-detallesEnvio form {
    margin:5px 0 5px 5px;
}

.cart2Alex-detallesEnvio form {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.cart2Alex-detallesEnvioEntradaInput {
    background: Var(--azulOscuro);
    margin:5px;
    width:80%;
    padding:5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:white;
    border:white 1px solid;
}
.cart2Alex-detallesEnvioLocacion {
    width:100%;
}

.cart2Alex-detallesEnvioEntradaInput::placeholder {
    color:rgba(255,255,255,1)
}

.cart2Alex-detallesEnvioBotones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart2Alex-detallesEnvioBotones i {
    margin:0 5px;
    font-size:12px;
}

.cart2Alex-botonesOpcion {
    display: block;
    width: 150px;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: #004d61;
    background-color: #00f6ff;
    margin: auto;
    border: solid #00bacd;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px 10px 30px;  
   }

.cart2Alex-botonesOpcion:hover {
    color: #00f6ff;
    background-color: #004d61;
}

.cart2Alex-resumenCarrito {
    margin:10px;
}

.cart2Alex-datosTotales {
    width:90%;
    margin:10px;
}

.cart2Alex-datosTotalesSubrayado {
    border-bottom: 1px solid white;
}

.cart2Alex-resumenCarrito p {
    margin:5px 0;
    font-size:12px;
    text-align:left;
}

.cart2Alex-resumenCarrito p span {
    font-size:12px;
    margin:0 5px;
}



@media (min-width:369px){
    #cart2Alex-cart2Alex-detallesEnvioDireccion {
        width:80%;
    }
    .cart2Alex-detallesEnvioBotones {
        flex-direction: row;
    }
}

@media (min-width:650px){
    .cart2Alex-menuOption a{
        font-size:18px;
    }
    .cart2Alex-mainContainer {
        flex-direction:row;
    }
    .cart2Alex-resumenCarrito {
        margin-left: 25px;
    }
}