/* 
Paleta de colores:
#001f2c  ==> Azul oscuro
#004d61  ==> Verde oscuro
#008198  ==> Verde intermedio
#00bacd  ==> Verde claro
#00f6ff  ==> Aguamarina (para CallToAction buttons)

Font Titulos:
font-family: 'Palette Mosaic', cursive;

Font parrafos:
font-family: 'Roboto', sans-serif;
 */



* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    color: white;
    list-style: none;
    /* le quito el estilo a los links de las listas*/
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #001f2c;
}

/* ========= FORM REGISTER Mobile =========  */

.fondo {
    background: url("/images/Images/Instrumentos_Musicales2.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    /* overflow: hidden; */

}

.form-register {
    display: block;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background-color: #001f2c;
    border-radius: 15px;
    border-color: #00bacd;
    max-width: 580px;
    box-shadow: 0px 0px 8px 5px rgb(255 255 255 / 41%);
}

.form-register h4,
.form-register h5 {
    font-family: 'Happy Monkey', cursive;
    font-size: 28px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 18px -8px 15px rgba(255, 255, 255, 0.46);
    padding-bottom: 20px;
    border-bottom: solid 2px white;
}

.form-register h5 {
    font-size: 22px;
    border-bottom: none;
}

.Registro-Texto-Descriptivo {
    margin: 30px;
}

#tengoCuenta {
    text-decoration: none;
}

.datos {
    background-color: Var(--azulOscuro);
    margin: 5px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px;
    width: 80%;
    border: white 1px solid;
}


.items label {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
}

.navbar-button:hover {
    color: #00f6ff;
    background-color: #004d61;
}


/* ========= Home Mobile =========  */

main {
    text-align: center;
}

.i-home-inicial {
    width: 100%;
    height: 100%;
}

h1,
h2 {
    font-family: 'Palette Mosaic', 'sans-serif';
    margin: 30px 20px 30px 20px;
    font-size: 24px;
}

/* p {
    margin: 30px 10px 30px 10px;
} */

section {
    margin-bottom: 70px;
}

.home-bodysection-head p {
    text-align: center;
}

.register-button,
.navbar-button,
.access-button-home,
/* Estilizo los botones CTA */
.access-button-home2,
.SaleMusic-button-home,
.SaleInstruments-button-home {
    display: block;
    width: 150px;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: #004d61;
    background-color: #00f6ff;
    margin: auto;
    border: solid #00bacd;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}

.navbar-button,
.access-button-home:hover,
.access-button-home2:hover,
.SaleMusic-button-home:hover,
.SaleInstruments-button-home:hover {
    color: #00f6ff;
    background-color: #004d61;
}

.i-home-inicial-gradient {
    display: none;
}

.fa-play-circle,
/*  Estilizando iconos Font-Awesome */
.fa-headphones,
.fa-guitar,
.fa-drum {
    display: inline-block;
    font-size: 40px;
    color: #00bacd;
    margin-top: 30px;
    text-align: center;
}

.i-home-teclado {
    max-width: 85%;
    height: auto;
}

.i-home-teclado-gradient {
    display: none;
}

.home-bodysection-products {
    position: relative;
}

.home-bodysection-products2 h3,
.home-bodysection-products2 p {
    text-align: right;
}

.home-bodysection-products2 h3 {
    font-size: 22px;
    font-style: bold;
    margin: 0px 30px 0px 0px;
}

.home-bodysection-products2 p {
    display: block;
    margin: 5px 30px 90px 10px;
}

.access-button-home2 {
    display: none;
}


h5 {
    font-size: 17px;
    font-style: bold;
}

/* .home-card-artist p {
    font-size: 12px;
    margin: 30px 20px 30px 20px;
} */


.main-footer li {
    text-align: left;
}

.home-bodysection-artists i {
    display: none;
}




/* ========= NavBar Mobile =========  */

.main-header {
    /* Convierto el contenedor en Flex */
    display: flex;
    background-color: #004d61;
    margin: 0px;
    height: 60px;
    width: auto;
}


.main-header-der,
.main-header-izq {
    /* Parto el contenedor main en dos */
    width: 50%;
}

.main-header-der ul {
    /* Responsivo (oculto el texto) */
    display: none;
}

.navbar-button {
    display: none;
}

.hamburguer-button i {
    /* Convierto el menu en block */
    display: block;
    margin: 10px;
    padding: 5px;
    text-align: right;
    font-size: 20px;
}

.logoMobile {
    width: 40px;
    margin: 10px;
}

.logo {
    /* Responsivo (oculto el logo)*/
    display: none;
}

/* ========= Footer Mobile =========  */

footer {
    background-color: #008198;
}

.redessociales-footer {
    /* Convierto el contenedor en flex*/
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
}

.redessociales-footer i {
    padding: 15px;
    font-size: 30px;
}

.main-footer-der-text ul,
.main-footer-izq-text ul {
    line-height: 50px;
    /* le doy interlineado*/
    padding: 10px;
}

.main-footer-der-text ul {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 20px;
}

.main-footer-izq-text ul {
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 20px;
    padding-bottom: 30px;
}


/* ========= RESPONSIVIDAD  =========  */

@media(min-width:361px) {

    /* ========= NavBar  min-width:361px =========  */
    .logoMobile {
        /* Oculto el logo pequeno */
        display: none;
    }

    .logo {
        /* Muestro el logo completo*/
        display: flex;
        height: 40px;
        margin: 10px;
    }

    /* ========= Footer  min-width:361px =========  */
    .redessociales-footer i {
        /* Amplio el tamano de los logos de redes*/
        font-size: 40px;
    }

    .main-footer {
        display: flex;
        justify-content: center;
    }

    .main-footer-der-text,
    .main-footer-izq-text {
        display: inline-block;
        width: auto;
        margin: auto;
        padding: 20px;
    }

    .main-footer-der-text {
        text-align: left;
    }

    .main-footer-izq-text {
        text-align: right;
    }

    /* ========= REGISTER  min-width:361px =========  */

    /* .datos{

        width:420px;

    } */

    /* ========= Body  min-width:361px =========  */

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    .home-bodysection-head-content {
        display: flex;
        justify-content: flex-start;
        align-items: initial;
        flex-wrap: wrap;
        height: auto;
    }

    .home-bodysection-head-content h1,
    .home-bodysection-head-content p {
        flex-direction: column;
        width: 60%;
        padding: 6px 0px 10px 12px;
        text-align: left;
        margin: 20px;
    }

    .access-button-home {
        justify-content: center;
    }

    .home-bodysection-products2 {
        display: block;
        position: relative;
    }

    .i-home-teclado {
        width: 95%;
        height: 95%;
    }

    .home-bodysection-products2 h3,
    .home-bodysection-products2 p {
        display: block;
        text-align: right;
        margin: 0px;
        position: absolute;
        left: 90%;
        transform: translate(-100%, 0);
        z-index: 1;
        color: #004d61;
    }

    .home-bodysection-products2 h3 {
        width: 270px;
        top: 5%;
    }

    .home-bodysection-products2 p {
        width: 300px;
        bottom: 40%;
    }

    .home-bodysection-artists {
        display: flex;
        justify-content: space-around;
        align-items: center;
        justify-content: center;
    }


}



@media(min-width:768px) {

    /* ========= NavBar min-width:768px =========  */

    .main-header-der {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .main-header-der li {
        width: 100px;
    }

    .main-header-der ul {
        /* Muestro el texto */
        display: flex;
        justify-content: space-between;
        max-width: 280px;

    }

    .navbar-button {
        /* Estilizo el boton de ingreso */
        display: inline-block;
        border-radius: 5px;
        padding: 10px 20px;
        text-decoration: none;
        color: #004d61;
        background-color: #00f6ff;
        margin: 10px;
        border: solid #00bacd;
        text-align: center;
        transition: all 0.5s;
        cursor: pointer;
    }

    .hamburguer-button i {
        /* Oculto el menu */
        display: none;
    }

    .logoMobile {
        /* Oculto el logo pequeno */
        display: none;
    }

    .logo {
        /* Muestro el logo completo*/
        display: flex;
        height: 40px;
        margin: 10px;
    }

    /* ========= Footer min-width:768px =========  */

    .redessociales-footer i {
        font-size: 50px;
    }

    /* ========= Body min-width:768px =========  */

    .home-bodysection-head {
        display: block;
        position: relative;
    }

    .i-home-inicial {
        display: none;
    }

    .i-home-inicial-gradient {
        display: block;
        margin-left: auto;
        padding: 50px 0 90px;
        width: 80%;
        height: 80%;
    }

    .home-bodysection-head-content h1,
    .home-bodysection-head-content p {
        display: block;
        text-align: left;
        margin: 0px;
        position: absolute;
        left: 65%;
        transform: translate(-100%, 0);
        transform: scale(1.2, 1.2);
        z-index: 1;
    }

    .home-bodysection-head-content h1 {
        width: 500px;
        top: 15%;
        left: 8%;
        padding: 5px;
    }

    .home-bodysection-head-content p {
        width: 400px;
        top: 35%;
        left: 10%;
        padding: 5px;
    }

    .home-bodysection-products {
        display: flex;
        justify-content: space-evenly;
    }

    .home-bodysection-products div {
        display: inline-block;
        width: 350px;
    }

    .home-bodysection-products2 {
        display: block;
        position: relative;
    }

    .i-home-teclado {
        display: none;
    }

    .i-home-teclado-gradient {
        display: block;
        padding: 50px 0 90px;
        width: 60%;
        height: 60%;
    }

    .home-bodysection-products2 h3,
    .home-bodysection-products2 p {
        display: block;
        color: white;
        width: 400px;
        height: 200px;
        padding: 10px;
    }

    .home-bodysection-products2 h3 {
        position: absolute;
        bottom: 45%;
        font-size: 34px;
    }

    .home-bodysection-products2 {
        position: absolute;
        bottom: 35%;
        font-size: 34px;
    }

    .access-button-home {
        display: none;
    }

    .access-button-home2 {
        display: block;
        position: absolute;
        bottom: 25%;
        right: 11%;
    }

    .home-bodysection-artists i {
        display: inline-block;
        position: relative;
        align-self: auto;
        font-size: 40px;
        color: white;
        padding: 10px;
    }

}

/* CART3 PAGE START */

.menu-opciones {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    background-color: #001f2c;
    opacity: 0.8;
    border: solid 1px #00bacd;

}

.menu-options-one {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-decoration: none;


}

.menu-options-two {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-decoration: none;

}

.menu-options-three {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-decoration: underline;

}

.cart3-dates-payment {
    width: 90%;
    background-color: #001f2c;
    padding: 30px;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    color: white;
    box-shadow: 7px 12px 35px #000;
    margin-left: 3%;
    font-size: 18px;

}

.cart3-dates-payment h4 {
    font-family: 'Palette Mosaic', 'sans-serif';
    font-size: 28px;
}

.cart3-button-radio-pay {
    background-color: #00bacd;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
    text-align: start;



}

.cart3-radios-buttons {
    background-color: #00bacd;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
}

.cart3-button-radio-pay2 {
    background-color: #008198;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    width: 45%;



}

.cart3-button-radio-pay3 {
    background-color: #008198;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    width: 45%;

}

.cart3-control-2 {
    background-color: Var(--azulOscuro);
    margin: 5px;
    font-family: var(--letraParrafos);
    color: white;
    font-family: var(--letraParrafos);
    font-size: 13px;
    width: 90%;
    border: none;


}

.cart3-control-2:hover {
    border-bottom: 1px solid white;
}

.cart3-control-2::placeholder {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
    text-align: center;
}

.cart3-control-3 {
    background-color: Var(--azulOscuro);
    margin: 5px;
    font-family: var(--letraParrafos);
    color: white;
    font-family: var(--letraParrafos);
    font-size: 13px;
    width: 150px;
    border: none;
}

.cart3-control-3:hover {
    border-bottom: 1px solid white;
}

.cart3-control-3::placeholder {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
    text-align: center;
}

.cart3-control-tarjeta {
    background-color: Var(--azulOscuro);
    margin: 5px;
    font-family: var(--letraParrafos);
    color: white;
    font-family: var(--letraParrafos);
    font-size: 13px;
    width: 90%;
    border: none;
}

.cart3-control-tarjeta:hover {
    border-bottom: 1px solid white;
}

.cart3-control-tarjeta::placeholder {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
    text-align: center;
}

.cart3-carrito-pay {
    width: 90%;
    background-color: #001f2c;
    padding: 30px;
    margin-top: 50px;
    border-radius: 4px;
    font-family: "Palette Mosaic", cursive;
    color: white;
    box-shadow: 7px 12px 35px #000;
    margin-left: 3%;
    font-size: 20px;

}

.cart3-button-envy {
    display: block;
    width: 150px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    color: #004d61;
    background-color: #00f6ff;
    margin: auto;
    border: solid #00bacd;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}

.cart3-button-envy:hover {
    color: #00f6ff;
    background-color: #004d61;
}

.cart3-button-cancel {
    display: block;
    width: 150px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    color: #004d61;
    background-color: #00f6ff;
    margin: auto;
    border: solid #00bacd;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}

.cart3-button-cancel:hover {
    color: #00f6ff;
    background-color: #004d61;
}

.cart3-ship-pay1 {
    text-align: initial;
    margin-bottom: 20px;
    font-family: 'Palette Mosaic', 'sans-serif';
    font-size: 28px;
}

.cart3-img-pay {
    width: 70px;
    height: 70px;
    background-color: #001f2c;
    border: solid 1px white;
    padding: 10px;

}

.cart3-img-pay2 {
    width: 70px;
    height: 70px;
    background-color: #001f2c;
    border: solid 1px white;
    padding: 10px;


}

.cart3-product-pay1 {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    position: relative;
    bottom: 80px;


}

.cart3-product-pay2 {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    position: relative;
    bottom: 80px;


}


.cart3-total-pay {
    width: 90%;
    background-color: #001f2c;
    padding: 30px;
    margin-top: 50px;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    color: white;
    box-shadow: 7px 12px 35px #000;
    margin-left: 3%;
    text-align: start;
}

.cart3-pay-total {
    text-align: initial;
    font-family: "Palette Mosaic", cursive;
    font-size: 28px;
}

.cart3-pay-subtotal {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 3px;
    text-align: initial;
}



.cart3-pay {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 3px;
    text-align: initial;
}



.cart3-total-pay2 {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 3px;
    text-align: initial;
}

@media (min-width: 768px) {
    .cart3-button-radio-pay {
        background-color: #00bacd;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        padding: 10px;
        margin-top: 20px;
        border-radius: 4px;
        text-align: start;
        height: 300px;
    }

    .cart3-total-pay {
        width: 30%;
    }


    .cart3-dates-payment {
        width: 50%;
        height: 680px;

    }

    .cart3-carrito-pay {
        width: 30%;
        height: 400px;
        position: absolute;
        right: 80px;
        bottom: 10px;
    }

    .cart3-total-pay {
        width: 25%;
        position: absolute;
        right: 100px;
        top: 620px;
        margin-bottom: 20px;


    }

    .cart3-botones {
        display: flex;
        justify-content: stretch;
    }

}

#register-photoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}