:root {
    --azulOscuro:#001f2c;
    --verdeOscuro:#004d61;
    --verdeIntermedio:#008198;
    --verdeClaro:#00bacd;
    --aguamarina:#00f6ff;
    --letraTitulos:'Palette Mosaic', cursive;
    --letraParrafos:'Roboto', sans-serif;
}