:root {
    --azulOscuro:#001f2c;
    --verdeOscuro:#004d61;
    --verdeIntermedio:#008198;
    --verdeClaro:#00bacd;
    --aguamarina:#00f6ff;
    --letraTitulos:'Palette Mosaic', cursive;
    --letraParrafos:'Roboto', sans-serif;
}





/* LOGIN PAGE START */

.login-body {
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color: gray;
    background-image: url("/images/Images/Instrumentos_Musicales.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 305px;
}

.mainContainer {
    width:60%;
    max-width:450px;
    height:60vh;
    margin:15vh auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    color:white;
    box-shadow: 6px 10px 21px 0px rgba(0,0,0,0.6);
    
}

/* NAVBAR */
#navbar {
    height:15vh;
    background:var(--verdeOscuro);
    display: flex;
    justify-content: space-between;
    font-family: var(--letraParrafos);
    font-size: 0.9rem;
    
}

/* #navbar img {
    width:20vw;
    height:15vh;
    min-width: 100px;
    max-width:120px;
    max-height:130px;
} */

.login-logo{
    display: inline-block;
    width: 60px;
    height: 60px;
    padding:5px;
    /* vertical-align: baseline; */

}

#navbar ul {
    display:flex;
    padding:0 1vw;
}

#navbar li:hover {
    text-decoration:underline;
}

.navbarOption {
    margin:auto 1vw;
    list-style-type:none;
}

.navbarOption a {
    color:white;
    text-decoration: none;
}

/* LOGIN */
#login {
    background-color:Var(--azulOscuro);
    font-family: var(--letraParrafos);
    padding:10px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#login img {
    width:7vw;
    height:7vh;
    max-width:30px;
    max-height: 30px;
}

#login form {
    background-color:Var(--azulOscuro);
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    min-width: 190px;
}

#login form .information input  {
    background-color:Var(--azulOscuro);
    margin:5px;
    font-family: var(--letraParrafos);
    color:white;
    font-family: var(--letraParrafos);
    font-size: 13px;
    width:150px;
    border:none;
}

#login form .information input:hover {
    border-bottom:1px solid white;
}

#login form .information input::placeholder {
    font-size: 12px;
    color:rgba(255,255,255,0.7);
    font-style: italic;
    text-align: center;
}


.options {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size: 14px;
}

.options .loggedIn {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    font-size: 12px;
    margin-top: 15px;
}

.options p {
    margin-top: 15px;
}

.options .loggedIn label {
    margin-left: 5px;
}

#forgotPassword {
    font-size: 12px;
    text-align: center;
}

#forgotPassword:hover {
    text-decoration:underline;
}

.options a {
    color:white;
    font-style: italic;
    text-decoration:none;
}

#loginButton {
    background-color:var(--verdeOscuro);
    color:white;
    outline: none;
    padding:5px;
    width:150px;
    cursor:pointer;
    border:none;
    margin: 15px 0;
    transition-duration: 0.4s;
}

#loginButton:hover {
    background-color: white;
    color:black;
}



@media (min-width:450px){


    #forgotPassword {
        width:190px;
    }

    #login form .information input {
        transition: width .35s ease-in-out;
    }

    #login form .information input:focus {
        width:200px;
    }
}


/* LOGIN PAGE END */

/* PRODUCT PAGE START */

.principal {
    background-color: var(--azulOscuro);
}

.product-container {
    width:100%;
    padding:10px;
    display:flex;
    flex-direction:column;
    text-align: center;
}

.productImages {
    height: 50%;
}

.productImages img {
    width: 100%;
    max-width:350px;
    height:80%;
}

.productImagesButtons button {
    color:white;
    border:none;
    overflow:none;
    outline:none;
    border-radius: 5px;
    margin:5px;
    background-color: var(--verdeClaro);
    font-size:10px;
    padding:5px;
    margin-top: 10px;
    width:100px;
    height:30px;
    cursor:pointer;
    transition: width .35s ease-in-out
}

.productImagesButtons button:hover {
    width:120px;
}


.productInformation-container {
    height: 50%;
    margin:0 auto;
}

.productInformation {
    padding:5px;
    margin:5px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.productInformation h2 {
    margin:0;
}

.currency {
    font-style: italic;
}

.priceStars {
    display:flex;
    justify-content: center;
    align-items: center;
}

.priceStars p {
    margin-right:20px;
}

.priceStars i {
    color: yellow;
}

.stars {
    margin-left: 5px;
}

.productDescription {
    margin:0;
    margin-bottom: 15px;
    font-style: italic;
    font-size:10px;
}

.agregar {
    color:white;
    border:none;
    overflow:none;
    outline:none;
    border-radius: 5px;
    margin:5px;
    background-color: var(--verdeClaro);
    font-size:10px;
    padding:5px;
    width:100px;
    height:30px;
    font-family: var(--letraParrafos);
    cursor:pointer;
    transition: width .35s ease-in-out
}

.agregarTexto {
    font-family: var(--letraParrafos);
    font-weight: normal;
    margin-left: 0px; /* Era 2px */
    font-size:9px; /* No estaba */
}

.special {
    margin-left:2px;
}

.agregar:hover {
    width:120px;
}

.editar button {
    color:white;
    border:none;
    overflow:none;
    outline:none;
    border-radius: 5px;
    margin:5px;
    background-color: var(--verdeClaro);
    font-size:10px;
    padding:5px;
    width:100px;
    height:30px;
    cursor:pointer;
    transition: width .35s ease-in-out

}

.editar button:hover {
    width:120px;
}

.related-container p {
    font-size: 12px;
    margin:0 0 5px 10px;
    text-align: left;
}

.related-carrousel-container {
    background-color: var(--verdeOscuro);
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

}

.carrouselCard {
    background-color:var(--azulOscuro);
    margin: auto;
    display: flex;
    justify-content:space-around;
    align-items:center;
    border-radius:20px;
    border:1px solid var(--verdeIntermedio);
    width:80%;
    max-width: 350px;
    height: 80%;
    margin:10px;
}

.carrouselCard img {
    width:90px;
    height:90px;
    border-radius: 50%;
    margin:5px 5px;
}

.carrouselCardInfo {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.carrouselCardInfo h4 {
    font-size:12px;
    margin: 5px 5px 5px 0;
}


.carrouselCard a {
    text-decoration: none;
    border-bottom: none;
}

.carrouselCard a:hover {
    text-decoration: underline;
}

.carrouselCardInfo p {
    font-size: 11px;
    margin:10px 5px;
}


@media (min-width:480px){
    .product-container {
        flex-direction: row;
        height:70vh;
        justify-content:center;
        align-items:center;
    }
    .productImages {
        height:100%
    }
    .productInformation-container {
        height:100%;
    }
    

    .productDescription {
        max-width: 45vw;
    }
}


@media (min-width:768px){
    .productImagesButtons button,.agregar,.editar button {
        width:130px;
        height:40px;
        font-size: 13px;
    }
    .productImagesButtons button:hover {
        width:160px;
    }

    .agregar:hover {
        width:160px;
    }
    .editar button:hover {
        width:160px;
    }
    .productDescription {
        font-size: 12px;
        line-height: 18px;
    }
    .carrouselCard {
        max-width:250px;
    }
    .related-carrousel-container {
        justify-content: space-around;
        flex-direction:row;
    }
    .agregarTexto {
        font-size:12px;
    }
}
/* PRODUCT PAGE END */

/* STORE PAGE START */

section {
    margin:0;
}
.inputBuscador {
    width:80%;
    height:30px;
    max-width: 400px;
    border:none;
    outline:none;
    padding:5px;
    margin:15px 5px 5px 5px;
    border-radius: 5px;
    font-size: 14px;
    color:black;
    font-family: var(--letraParrafos);
}

.inputBuscador:hover {
    background-color: rgb(128, 128, 128,0.2);
    color:white;
}

.inputBuscador:focus {
    background-color:white;
    color:black;
}

.inputBuscador::placeholder {
    font-size:12px;
}

i {
    cursor:pointer;
}

.cancionesMasEscuchadas,.instrumentosEnVenta,.ultimosAdicionados {
    display:flex;
    flex-direction: column;
}
.cancionesMasEscuchadas .cabecera,.instrumentosEnVenta .cabecera,.ultimosAdicionados .cabecera {
    margin:15px 0 15px 10px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid white;
    width:70%;
}

.cancionesMasEscuchadasContenedor,.instrumentosEnVentaContenedor {
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.fa-chevron-left {
    margin: 0 5px;
    position:absolute;
    top:calc(30%);
    left:calc(20%);
}
.fa-chevron-right {
    margin: 0 5px;
    position:absolute;
    top:calc(30%);
    right:calc(20%);
}
.canciones,.instrumentos {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}
/* .cancion,.instrumento {} */
.cancion img,.instrumento img {
    width:100px;
    height:100px;
}
.cancion p,.instrumento p {
    margin:2px 0 5px 0;
    text-align:center;
    font-size: 11px;
}

.artistaCancion,.artistaInstrumento {
    font-style: italic;
}

.ultimosAdicionados {
    position:relative;
}
.ultimosAdicionadosContainer {
    background-color: var(--verdeOscuro);
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width:90%;
    margin:0 auto 20px;
}

.flechaIzq {
    margin:0 5px;
    left:calc(5%);
    top:calc(50%)

}
.flechaDer {
    margin:0 5px;
    right:calc(5%);
    top:calc(50%)
}

.ultimosAdicionadosCard {
    background-color:var(--azulOscuro);
    width:250px;
    height:130px;
    margin:10px auto;
    padding:10px;
    border-radius: 10%;
    display: flex;
    justify-content:center;
    align-items:center;
}
.ultimosAdicionadosCard  img {
    width:60px;
    height: 60px;
    border-radius:50%;
}
.recomendadoInfo {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
}
.ultimosAdicionadosCard .recomendadoInfo p {
    margin:0;
    font-size:10px;
}
.ultimosAdicionadosCard .recomendadoInfo h6 {
    font-size:13px;
    margin:5px 0;
}

@media (min-width:480px){
    .canciones,.instrumentos {
        grid-template-columns: auto auto;
    }
    .fa-chevron-left {
        left:calc(20%);
        top:calc(40%);
    }
    .fa-chevron-right {
        right:calc(20%);
        top:calc(40%);
    }
    .flechaIzq {
        left:0;
        top:calc(50%)
    
    }
    .flechaDer {
        right:0;
        top:calc(50%)
    }
    .ultimosAdicionadosContainer {
        max-width:400px;
    }
    
}
@media (min-width:600px){
    .canciones,.instrumentos {
        grid-template-columns: auto auto auto;
    }
    .fa-chevron-left {
        left:calc(2%);
        top:calc(30%);
    }
    .fa-chevron-right {
        right:calc(2%);
        top:calc(30%);
    }
    .ultimosAdicionadosContainer {
        grid-template-columns: auto auto;
    }
    .ultimosAdicionadosCard {
        width:230px;
    }
    .flechaIzq {
        margin:0 5px;
        left:calc(2%);
        top:calc(50%)
    
    }
    .flechaDer {
        margin:0 5px;
        right:calc(2%);
        top:calc(50%)
    }
    .ultimosAdicionadosContainer {
        max-width:550px;
    }
}
@media (min-width:768px){
    .canciones,.instrumentos {
        grid-template-columns: auto auto auto auto auto auto;
    }
    .ultimosAdicionadosCard {
        width:230px;
    }
    .flechaIzq {
        margin:0 5px;
        left:calc(2%);
        top:calc(50%)
    
    }
    .flechaDer {
        margin:0 5px;
        right:calc(2%);
        top:calc(50%)
    }
    .ultimosAdicionadosContainer {
        max-width:650px;
    }
    
}
@media (min-width:900px){
    .canciones,.instrumentos {
        grid-column-gap: 40px;
    }
    .ultimosAdicionadosContainer {
        grid-template-columns: auto auto auto auto;
    }
    .ultimosAdicionadosCard {
        width:180px;
    }
    .flechaIzq {
        margin:0 5px;
        left:calc(2%);
        top:calc(50%)
    
    }
    .flechaDer {
        margin:0 5px;
        right:calc(2%);
        top:calc(50%)
    }
    .ultimosAdicionadosContainer {
        max-width:1000px;
    }
}

/* STORE PAGE END */