:root {
    --azulOscuro:#001f2c;
    --verdeOscuro:#004d61;
    --verdeIntermedio:#008198;
    --verdeClaro:#00bacd;
    --aguamarina:#00f6ff;
    --letraTitulos:'Palette Mosaic', cursive;
    --letraParrafos:'Roboto', sans-serif;
}

body {
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color:rgb(128, 128, 128,0.5)
}

/* LOGIN PAGE START */
.mainContainer {
    width:60%;
    max-width:450px;
    height:60vh;
    margin:15vh auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    color:white;
}

/* NAVBAR */
#navbar {
    height:15vh;
    background:var(--verdeOscuro);
    display: flex;
    justify-content: space-between;
    font-family: var(--letraParrafos);
    font-size: 0.9rem;
    
}

#navbar img {
    width:20vw;
    height:15vh;
    max-width:100px;
    max-height:100px;
}

#navbar ul {
    display:flex;
    padding:0 1vw;
}

#navbar li:hover {
    text-decoration:underline;
}

.navbarOption {
    margin:auto 1vw;
    list-style-type:none;
}

.navbarOption a {
    color:white;
    text-decoration: none;
}

/* LOGIN */
#login {
    background-color:Var(--azulOscuro);
    font-family: var(--letraParrafos);
    padding:10px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#login img {
    width:7vw;
    height:7vh;
    max-width:30px;
    max-height: 30px;
}

#login form {
    background-color:Var(--azulOscuro);
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    min-width: 190px;
}

#login form .information input  {
    background-color:Var(--azulOscuro);
    margin:5px;
    font-family: var(--letraParrafos);
    color:white;
    font-family: var(--letraParrafos);
    font-size: 13px;
    width:150px;
    border:none;
}

#login form .information input:hover {
    border-bottom:1px solid white;
}

#login form .information input::placeholder {
    font-size: 12px;
    color:rgba(255,255,255,0.7);
    font-style: italic;
    text-align: center;
}


.options {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size: 14px;
}

.options .loggedIn {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    font-size: 12px;
    margin-top: 15px;
}

.options p {
    margin-top: 15px;
}

.options .loggedIn label {
    margin-left: 5px;
}

#forgotPassword {
    font-size: 12px;
    text-align: center;
}

#forgotPassword:hover {
    text-decoration:underline;
}

.options a {
    color:white;
    font-style: italic;
    text-decoration:none;
}

#loginButton {
    background-color:var(--verdeOscuro);
    color:white;
    outline: none;
    padding:5px;
    width:150px;
    cursor:pointer;
    border:none;
    margin: 15px 0;
    transition-duration: 0.4s;
}

#loginButton:hover {
    background-color: white;
    color:black;
}

@media (min-width:450px){


    #forgotPassword {
        width:190px;
    }

    #login form .information input {
        transition: width .35s ease-in-out;
    }

    #login form .information input:focus {
        width:200px;
    }
}


/* LOGIN PAGE END */

/* PRODUCT PAGE START */

.principal {
    background-color: var(--azulOscuro);
}

.product-container {
    border:5px solid white;
    width:100%;
    padding:10px;
    display:flex;
    flex-direction:column;
    text-align: center;
}

.productImages {
    height: 50%;
}

.productImages img {
    width: 100%;
    max-width:350px;
    height:80%;
}

.productImagesButtons button {
    color:white;
    border:none;
    overflow:none;
    outline:none;
    border-radius: 5px;
    margin:5px;
    background-color: var(--verdeClaro);
    font-size:10px;
    padding:5px;
    width:100px;
    transition: width .35s ease-in-out
}

.productImagesButtons button:hover {
    width:120px;
}


.productInformation-container {
    height: 50%;
}

.productInformation {
    padding:5px;
    margin:5px;
}

.editar button {
    color:white;
    border:none;
    overflow:none;
    outline:none;
    border-radius: 5px;
    margin:5px;
    background-color: var(--verdeOscuro);
    font-size:10px;
    padding:5px;
    width:100px;
    transition: width .35s ease-in-out

}

.editar button:hover {
    width:120px;
}

@media (min-width:480px){
    .product-container {
        flex-direction: row;
        height:60vh;
        justify-content:center;
        align-items:center;
    }
    .productImages {
        height:100%
    }
    .productInformation-container {
        height:100%;
    }
}
/* PRODUCT PAGE END */