/* 
Paleta de colores:
#001f2c  ==> Azul oscuro
#004d61  ==> Verde oscuro
#008198  ==> Verde intermedio
#00bacd  ==> Verde claro
#00f6ff  ==> Aguamarina (para CallToAction buttons)

Font Titulos:
font-family: 'Palette Mosaic', cursive;
font-family: 'Stick No Bills', sans-serif;    (No aplicable)
font-family: 'Happy Monkey', cursive;


Font parrafos:
font-family: 'Roboto', sans-serif;
 */




* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    color: white;
    list-style: none;
    /* le quito el estilo a los links de las listas*/
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #001f2c;
}

/* ========= HOME Mobile =========  */

main {
    text-align: center;
}

.i-home-inicial {
    width: 100%;
    height: 100%;
}

.i-home-inicial-gradient img {
    background: linear-gradient(90deg, rgba(1, 30, 44, 0.94) 0.4364089775561097%, rgba(0, 32, 44, 0.96) 25.187032418952622%, rgba(0, 128, 153, 1) 100%);
}

h1,
h2 {
    font-family: 'Happy Monkey', 'sans-serif';
    margin: 30px 20px 30px 20px;
    font-size: 28px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 18px -8px 15px rgba(255, 255, 255, 0.46);
}

/* p {
    margin: 30px 10px 30px 10px;       VER SI IMPACTA EN OTRAS PAGINAS O RENOMBRAR LA CLASE. SI NO IMPACTA BORRAR
} */

section {
    margin-bottom: 70px;
}

.home-bodysection-head p {
    text-align: center;
}


#products-eliminarButton,
#products-editarButton,
.agregar,
.button,
.access-button-home,
/* Estilizo los botones CTA */
.access-button-home2,
.SaleMusic-button-home,
.SaleInstruments-button-home {
    display: block;
    width: 150px;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: #004d61;
    background-color: #00f6ff;
    margin: auto;
    border: solid #00bacd;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}

#youtube-icon:hover,
#products-eliminarButton,
#products-editarButton,
.agregar:hover,
.button:hover,
.access-button-home:hover,
.access-button-home2:hover,
.SaleMusic-button-home:hover,
.SaleInstruments-button-home:hover {
    color: #00f6ff;
    background-color: #004d61;
}

.i-home-inicial-gradient {
    display: none;
}

.fa-play-circle,
/*  Estilizando iconos Font-Awesome */
.fa-headphones,
.fa-guitar,
.fa-drum {
    display: inline-block;
    font-size: 40px;
    color: #00bacd;
    margin-top: 30px;
    text-align: center;
}

.i-home-teclado {
    max-width: 85%;
    height: auto;
}

.i-home-teclado-gradient {
    display: none;
}

.home-bodysection-products {
    position: relative;
}

.home-bodysection-products2 h3,
.home-bodysection-products2 p {
    text-align: right;
}

.home-bodysection-products2 h3 {
    font-family: "Happy Monkey";
    font-size: 22px;
    font-style: bold;
    margin: 0px 30px 0px 0px;
}

.home-bodysection-products2 p {
    display: block;
    margin: 5px 30px 90px 10px;
}

.access-button-home2 {
    display: none;
}

.home-card-artist {
    border: solid white 1px;
    border-radius: 15px;
    width: 180px;
    height: 360px;
    padding: 3px 3px 3px 3px;
    margin: 25px auto;
    text-align: center;
    box-shadow: 0px 0px 8px 5px rgb(255 255 255 / 41%);
}

h5 {
    font-family: 'Happy Monkey', cursive;
    font-size: 16px;
    font-style: bold;

}

.home-card-artist p {
    font-size: 14px;
    margin: 30px 20px 30px 20px;
    padding-top: 15px;
    border-top: white solid 1px;
}

.i-home-artist {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 70%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 5px rgb(255 255 255 / 41%);
}

.home-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-footer li {
    text-align: left;
}

.home-bodysection-artists i {
    display: none;
}





/* ========= NAVBAR Mobile =========  */

.main-header {
    /* Convierto el contenedor en Flex */
    display: flex;
    background-color: #004d61;
    margin: 0px;
    height: 60px;
    width: auto;
    border-bottom: solid 1px #00bacd;
}

.main-header-der,
.main-header-izq {
    /* Parto el contenedor main en dos */
    width: 50%;
}

.main-header-der ul {
    /* Responsivo (oculto el texto) */
    display: none;

}

.button {
    display: none;
}

.button-profileuser {
    font-size: 20px;
    margin-right: 30px;
}

.hamburguer-button i {
    /* Convierto el menu en block */
    display: block;
    margin: 10px;
    padding: 5px;
    text-align: right;
    font-size: 20px;
}

.button-profileuser {
    /* Convierto el menu en block */
    display: block;
    margin: 10px;
    padding: 5px;
    text-align: right;
    font-size: 20px;
}

.logoMobile {
    width: 40px;
    margin: 10px;
}

.menu-der-text-nav {
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.logo {
    /* Responsivo (oculto el logo)*/
    display: none;
}


/* ========= FOOTER Mobile =========  */

footer {
    background-color: #008198;
    border-top: solid 1px #00f6ff;
}

.redessociales-footer {
    /* Convierto el contenedor en flex*/
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
}

.redessociales-footer i {
    padding: 15px;
    font-size: 30px;
}

.main-footer-der-text ul,
.main-footer-izq-text ul {
    line-height: 50px;
    /* le doy interlineado*/
    padding: 10px;
}

.main-footer-der-text ul {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 20px;
}

.main-footer-izq-text ul {
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 20px;
    padding-bottom: 30px;
}

/* ========= 404 page  =========  */

.fondo404 {
    background: url("/images/Images/404page.png") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    background-color: #001f2c;
    color: white;
    /* overflow: hidden; */

}

.titles404 {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 5%;

}

.subtitle404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    line-height: 40px;
}


/* ========= RESPONSIVIDAD  =========  */

@media(min-width:361px) {

    /* ========= NAVBAR  min-width:361px =========  */
    .logoMobile {
        /* Oculto el logo pequeno */
        display: none;
    }

    .logo {
        /* Muestro el logo completo*/
        display: flex;
        height: 40px;
        margin: 10px;
    }

    /* ========= FOOTER  min-width:361px =========  */
    .redessociales-footer i {
        /* Amplio el tamano de los logos de redes*/
        font-size: 40px;
    }

    .main-footer {
        display: flex;
        justify-content: center;
    }

    .main-footer-der-text,
    .main-footer-izq-text {
        display: inline-block;
        width: auto;
        margin: auto;
        padding: 20px;
    }

    .main-footer-der-text {
        text-align: left;
    }

    .main-footer-izq-text {
        text-align: right;
    }

    /* ========= HOME BODY  min-width:361px =========  */

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    .home-bodysection-head-content {
        display: flex;
        justify-content: flex-start;
        align-items: initial;
        flex-wrap: wrap;
        height: auto;
    }

    .home-bodysection-head-content h1,
    .home-bodysection-head-content p {
        flex-direction: column;
        width: 60%;
        padding: 6px 0px 10px 12px;
        text-align: left;
        margin: 20px;
    }

    .access-button-home {
        justify-content: center;
    }

    .home-bodysection-products2 {
        display: block;
        position: relative;
    }

    .i-home-teclado {
        width: 95%;
        height: 95%;
    }

    .home-bodysection-products2 h3,
    .home-bodysection-products2 p {
        display: block;
        text-align: right;
        margin: 0px;
        position: absolute;
        left: 90%;
        transform: translate(-100%, 0);
        z-index: 1;
        color: #004d61;
    }

    .home-bodysection-products2 h3 {
        width: 270px;
        top: 5%;
    }

    .home-bodysection-products2 p {
        width: 300px;
        bottom: 40%;
    }

    .home-bodysection-artists {
        display: flex;
        justify-content: space-around;
        align-items: center;
        justify-content: center;
    }

    .home-card-artist {
        display: inline-block;
        margin: 10px 15px;
    }

    .home-cards-container {
        display: inline-flex;
        text-align: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

}




@media(min-width:768px) {

    /* ========= NAVBAR min-width:768px =========  */

    .main-header-der {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .main-header-der li {
        width: 100px;
    }

    .main-header-der ul {
        /* Muestro el texto */
        display: flex;
        justify-content: space-between;
        max-width: 320px;
    }


    .button {
        /* Estilizo el boton de ingreso */
        display: inline-block;
        border-radius: 5px;
        padding: 10px 20px;
        text-decoration: none;
        color: #004d61;
        background-color: #00f6ff;
        margin: 10px;
        border: solid #00bacd;
        text-align: center;
        transition: all 0.5s;
        cursor: pointer;
    }

    .hamburguer-button i {
        /* Oculto el menu */
        display: none;
    }

    .logoMobile {
        /* Oculto el logo pequeno */
        display: none;
    }

    .logo {
        /* Muestro el logo completo*/
        display: flex;
        height: 40px;
        margin: 10px;
    }


    /* ========= FOOTER min-width:768px =========  */

    .redessociales-footer i {
        font-size: 50px;
    }


    /* ========= HOME BODY min-width:768px =========  */

    .home-bodysection-head {
        display: block;
        position: relative;
    }

    .i-home-inicial {
        display: none;
    }

    .i-home-inicial-gradient {
        display: block;
        margin-left: auto;
        padding: 0px 0 90px;
        width: 80%;
        height: 80%;
    }

    .home-bodysection-head-content h1,
    .home-bodysection-head-content p {
        display: block;
        text-align: left;
        margin: 0px;
        position: absolute;
        left: 65%;
        transform: translate(-100%, 0);
        transform: scale(1.2, 1.2);
        z-index: 1;
    }

    .home-bodysection-head-content h1 {
        width: 500px;
        top: 15%;
        left: 8%;
        padding: 5px;
    }

    .home-bodysection-head-content p {
        width: 400px;
        top: 35%;
        left: 10%;
        padding: 5px;
    }

    .home-bodysection-products {
        display: flex;
        justify-content: space-evenly;
    }

    .home-bodysection-products div {
        display: inline-block;
        width: 350px;
    }

    .home-bodysection-products2 {
        display: block;
        position: relative;
    }

    .i-home-teclado {
        display: none;
    }

    .i-home-teclado-gradient {
        display: block;
        padding: 50px 0 90px;
        width: 60%;
        height: 60%;
    }

    .home-bodysection-products2 h3,
    .home-bodysection-products2 p {
        display: block;
        color: white;
        width: 400px;
        height: 200px;
        padding: 10px;
    }

    .home-bodysection-products2 h3 {
        position: absolute;
        bottom: 45%;
        font-size: 36px;
    }

    .home-bodysection-products2 p {
        position: absolute;
        bottom: 35%;
        font-size: 28px;
    }

    .access-button-home {
        display: none;
    }

    .access-button-home2 {
        display: block;
        position: absolute;
        bottom: 25%;
        right: 11%;
    }

    .home-bodysection-artists i {
        display: inline-block;
        position: relative;
        align-self: auto;
        font-size: 40px;
        color: white;
        padding: 10px;
    }

}


/* ========= USER PROFILE  min-width:361px =========  */
.userprofile-formulario2,
.userprofile-formulario {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
    align-items: initial;
    margin: 30px;
}

.skills-form {
    background-color: #001f2c;

}

.userprofile-form h4 {
    text-align: left;
    font-size: 28px;
    font-family: 'Happy Monkey', cursive;
    margin: 50px 30px 50px 10px;
    padding-bottom: 20px;
    border-bottom: solid 1px white;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 18px -8px 15px rgba(255, 255, 255, 0.46);
}



.userprofile-Texto-Descriptivo {
    text-align: left;
    margin: 0px 0px 0px 15px;
    padding-bottom: 40px;
}

.userprofile-form p {
    margin: 30px 10px 30px 10px;
}

.userprofile-edit-button-container {
    display: flex;
    justify-content: center;
}


/* FORMULARIO DE CARGA DE PRODUCTOS */

.create-product-container {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center
}

.create-product-container h2 input {
    background-color: Var(--azulOscuro);
    padding: 15px;
    font-family: var(--letraTitulos);
    color: white;
    font-family: var(--letraTitulos);
    width: 300px;
    border: none;
    text-align: center;
}

.create-productprice {
    background-color: Var(--azulOscuro);
    padding: 15px;
    font-family: var(--letraParrafos);
    color: white;
    width: 300px;
    font-size: 14px;
    text-align: center;
}


.create-productInformation-container {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */

    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.create-productInformation-container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.create-productDescription {
    background-color: Var(--azulOscuro);
    font-family: var(--letraParrafos);
    color: white;
    width: auto;
    font-size: 14px;
    text-align: center;
}

.create-productprice input,
.create-productDescription input {
    font-family: var(--letraParrafos);
    width: 350px;
    border: 1px solid white;
    font-size: 14px;
    background-color: Var(--azulOscuro);
    padding: 15px;
}

.create-productprice input {
    width: 100px;
    padding-left: 5px;
}

/* .product-container .productDescription input {
    background-color: Var(--azulOscuro);
    padding: 15px;
    font-family: var(--letraParrafos);
    color: white;
    width: 350px;
    border: 1px solid white;
    font-size: 14px;
    text-align: center;
} */


.productImages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.productImages label {
    margin: 5px;
}

.productImages input {
    margin: 0 5px;
}

.Player-button {
    color: #00f6ff;
}



/* Animacion de campos input del formulario */
.userprofile-form input {
    background-color: Var(--azulOscuro);
    margin: 5px;
    padding: 15px;
    font-family: var(--letraParrafos);
    color: white;
    font-size: 14px;
    width: 220px;
    height: 30px;
    border: white 1px solid;
}

.userprofile-form input:hover {
    border: 2px solid white;
}

.userprofile-form input::placeholder,
.userprofile-form textarea,
.userprofile-form option {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    text-align: right;
}

.userprofile-form input {
    transition: width .35s ease-in-out;
}

input[type='file'] {
    display: none
}

/* .userprofile-form input:focus {
    width: 200px;
} */

.userprofile-form textarea,
.userprofile-form option {
    height: 6em;
    width: auto;
    background-color: Var(--azulOscuro);
    margin: 5px;
    padding: 15px;
    font-family: var(--letraParrafos);
    color: white;
    font-family: var(--letraParrafos);
    font-size: 13px;
    border: none;
}

.userprofile-form textarea {
    margin: 10px, 10px, 10px, 10px
}


.songEmptyFileBtn,
.songEmptyImgBtn,
.Salvar-anuncio-button,
.productEmptyButton,
.userprofile-button,
.userprofile-edit-button,
.userprofile-eliminar-button,
.userAvatarButton,
.userAvatarRegisterButton,
.userprofile-vendercancion-button,
.userprofile-venderproducto-button {
    display: block;
    width: 150px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    color: #004d61;
    background-color: #00f6ff;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid #00bacd;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}


.songEmptyFileBtn:hover,
.songEmptyImgBtn:hover,
.productEmptyButton:hover,
.Salvar-anuncio-button:hover,
.userAvatarButton:hover,
.userAvatarRegisterButton:hover,
.userprofile-button:hover,
.userprofile-eliminar-button:hover,
.userprofile-edit-button:hover,
.userprofile-venderproducto-button:hover,
.userprofile-vendercancion-button:hover {
    color: #00f6ff;
    background-color: #004d61;
}

.userAvatarButton {
    display: inline-block;
    align-self: center;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;

}

.userprofile-editAvatar-section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.userprofile-formulario2 label,
.userprofile-formulario label,
.userprofile-items label {
    font-family: 'Roboto';
    margin: 15px 20px 30px 5px;
}


.userprofile-editAvatar-section img {
    margin: 5px 5px 5px 5px;
    box-shadow: 0px 0px 8px 5px rgb(255 255 255 / 41%);
    max-width: 200px;

}

/* .productEmptyButton {
    margin: auto;
} */

.userprofile-tableanuncios,
th,
td {
    border: 0.1px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.userprofile-crearanuncios {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.userprofile-edit-button,
.userprofile-vendercancion-button,
.userprofile-venderproducto-button {
    margin-right: 20px;
    margin-left: 20px;
}


/* ========= USER PROFILE  min-width:570px =========  */

@media(min-width:570px) {

    .userprofile-form textarea,
    .userprofile-form option {
        height: 6em;
        width: 350px;
    }

    .userprofile-form input {
        width: 300px;

    }

    .userprofile-editAvatar-section img {
        margin: 30px 30px 30px 30px;
        max-width: 400px;
    }

}

@media(min-width:995px) {


    .userprofile-formulario {
        display: flex;
        text-align: center;
        margin: 30px;
        flex-direction: column;
    }


    .userprofile-editAvatar-section img {
        margin: 40px 40px 40px 40px;
        max-width: 600px;
    }

    .userprofile-form textarea,
    .userprofile-form option {
        height: 6em;
        width: 800px;
    }

    .userprofile-form input {
        width: 500px;
        text-align: center;

    }
}