
<!--CART 3 PAGE START-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/Images/favicon.ico" />
    <title>Musiqueiros</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="/css/normalize.css"> <!-- Implementando Libreria Normalize.css (https://necolas.github.io/normalize.css/) para que el sitio web sea homogeneo en los diferentes navegadores. Desde el sitio, descargo, guardo como la css en la misma carpeta del proyecto y luego la linkeo -->
    <link rel="stylesheet" href="/css/stylesAgos.css">  <!-- Usa esta linea para direccionarla a tu CSS -->
    <link rel="fuente" href="https://fonts.googleapis.com">
    <link rel="fuente2" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/17d45040ef.js" crossorigin="anonymous"></script> <!-- Implementando Font-Awesome -->

</head>
<body class="color-fondo">
    <header class="main-header">

        <nav class="main-header-izq">
            <!-- Creando la parte izquierda de la NavBar -->
            <img src="css/Images/Logo redondo.jpg" class="logoMobile" alt="Logo Musiqueiros Mobile">
            <img src="css/Images/Logo Horizontal.jpg" class="logo" alt="Logo Musiqueiros">
        </nav>

        <nav class="main-header-der">
            <!-- Creando la parte derecha de la NavBar -->
            <a href="#" class="hamburguer-button">
                <!-- Boton responsivo -->
                <i class="fas fa-bars"></i>
            </a>
            <ul>
                <!--style="text-decoration:none" le quita el subrayado a los enlaces -->
                <li><a href="#" style="text-decoration:none">Comprar Musica</a></li>
                <li><a href="#" style="text-decoration:none">Comprar Instrumentos</a></li>
            </ul>

            <!-- Boton Ingreso responsivo | Exibido en NavBar en > 700px -->
            <a href="#" class="button" target="_blank">Ingresa </a>

        </nav>

    </header>

<main>
    
        <section class="menu-opciones">
            <div class="opcion1">
                <p class="menu-options-one">Tu carrito</p>
            </div>
            <div class="opcion2">
                <p class="menu-options-two">Detalles de envío</p>
            </div>
            <div class="opcion3">
                <p class="menu-options-three">Opciones de pago</p>
            </div>
        </section>
        
        <section class="cart3-dates-payment">
            
            <h4>Opciones de pago</h4>
           

            <div class="cart3-form-payment">
            
            <div class="cart3-button-radio-pay">
            <input type="radio"  name="forma-de-pago" value="Tarjeta de crédito">
            
            <label for="Tarjeta de credito">Tarjeta de crédito</label>
           <br>
           <br>
            
            <label for="Numero de tarjeta">Número de la tarjeta</label>
            <input type="number" class="cart3-control-tarjeta" name="numero de tarjeta" value="Numero de tarjeta">
          
            <label for="Vencimiento">Fecha vencimiento</label>
             <input type="month" class="cart3-control-tarjeta" name="fecha">
             <br>
             <label for="titular">Titular de la tarjeta</label>
             <input type="text" class="cart3-control-2" name="titular de la tarjeta" id="Titular de la tarjeta" placeholder="Titular">
          
             <label for="Codigo">Código de seguridad</label>
            <input class="cart3-control-3" type="number" name="codigo" id="codigo" placeholder="CS">
            <br>
           </div>
            
            <br>
            <div class="cart3-radios-buttons">
            <div class="cart3-button-radio-pay2">
            <input type="radio" class="cart3-options-of-pay" name="forma-de-pago" value="Mercado Pago">
             <label for="Mercado Pago">Mercado Pago</label>         
            </div>

            <div class="cart3-button-radio-pay3">
            <input type="radio" class="options-of-pay" name="forma-de-pago" value="PayPal">
            <label for="PayPal">PayPal</label>
            </div>
            </div>
           <br>
           <br>
             <div class="cart3-botones">
            <input class="cart3-button-envy"type="submit" value="Pagar">            
            <input class="cart3-button-cancel" type="reset" value="Cancelar">    
            </div>
        </section>
    
     <section class="cart3-ship-pay">
         <div class="cart3-carrito-pay">
         <h3 class="cart3-ship-pay1">Carrito</h3>
         <div class="cart3-img-pay"></div>
        <p class="cart3-product-pay1">Producto $</p>
        <div class="cart3-img-pay2"></div>
        <p class="cart3-product-pay2">Producto $</p>
      </div>
     
     <div class="cart3-total-pay">
         <h3 class="cart3-pay-total">Total compra</h3>
         <p class="cart3-pay-subtotal">Subtotal $</p>
         <p class="cart3-pay">Envío $</p>
         <p class="cart3-total-pay2">Total $</p>
      </div>
     </section>
<br>
<br>
<br>
</main>


    <footer>
        <!-- Adicionando iconos font-awesome de redes sociales -->
        <div class="redessociales-footer">
            <a href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fas fa-share-alt-square"></i></a>
        </div>

        <div class="main-footer">
            <div class="main-footer-der-text">
                <ul>
                    <!--style="text-decoration:none" le quita el subrayado a los enlaces -->
                    <li><a href="#" style="text-decoration:none">Contactanos</a></li>
                    <li><a href="#" style="text-decoration:none">Acerca de</a></li>
                    <li><a href="#" style="text-decoration:none">Terminos y condiciones</a></li>
                </ul>
            </div>

            <div class="main-footer-izq-text">
                <ul>
                    <li><a href="#" style="text-decoration:none">Trabaja con nosotros</a></li>
                    <li><a href="#" style="text-decoration:none">FAQs</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>
</html>





<!-- CARRITO 3 PAGE END-->