<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Musiqueiros</title>

    <link rel="preconnect" href="https://fonts.googleapis.com"> <!-- Implementando Google fonts (https://fonts.google.com/) -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- GoogleFonts => Copio y pego en el head los links que me da la GFonts, luego de haberlos elegido -->
    <link href="https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Roboto&display=swap" rel="stylesheet"> <!-- GoogleFonts => Implementando Roboto + Palette Mosaic -->

    <script src="https://kit.fontawesome.com/17d45040ef.js" crossorigin="anonymous"></script> <!-- Implementando Font-Awesome -->
    
    <link rel="stylesheet" href="/css/normalaize.css"> <!-- Implementando Libreria Normalize.css (https://necolas.github.io/normalize.css/) para que el sitio web sea homogeneo en los diferentes navegadores. Desde el sitio, descargo, guardo como la css en la misma carpeta del proyecto y luego la linkeo -->
    <link rel="stylesheet" href="/css/stylesAgos.css">  <!-- Usa esta linea para direccionarla a tu CSS -->
    
    <!--<link rel="stylesheet" href="/css/styles.css">  Descomentar esta linea cuando el CSS este compilado -->

</head>


<body>
    <main>
        <section class="menu-opciones">
            <div class="opcion1">
                <p class="menu-options-one">Tu carrito</p>
            </div>
            <div class="opcion2">
                <p class="menu-options-two">Detalles de envío</p>
            </div>
            <div class="opcion3">
                <p class="menu-options-three">Opciones de pago</p>
            </div>
        </section>
        <section class="compra">
        <h3>Tu carrito</h3>
        <div class="product-list">
            <p class="producto">Producto</p>
        </div>
        <div class="imagen">
            <p class="product-imagen">Imagen del producto</p>
        </div>
        <div class="description">
            <p class="description-product">Descripción del producto</p>
        </div>
        <div class="description-empty"></div>
        <div class="edit-empty"></div>
        
        <div class="space">
            <a class="edit" href="#Edit">Editar</a>
        </div>
        <div class="price">
            <p class="price-unit">Precio unitario</p>
        </div>
        <div class="price-simbol">
            <p class="price-simbol-unit">$ unitario</p>
        </div>
        <div class="amount">
            <p class="amount-total">Cantidad</p>
        </div>
        <div class="amount-empty"></div>
        <div class="total">
            <p class="total-sale">Total</p>
        </div>
        <div class="total-simbol">
            <p class="simbol-total">$ total</p>
        </div>
        <div class="save">
            <input class="boton-save" type="submit" value="Seguir comprando">
        </div>
        <div class="clean">
            <input class="boton-clean" type="reset" value="Limpiar pedido">
        </div>
        <div class="reset-date">
            <input class="boton-reset" type="reset" value="Actualizar datos">
        </div>
        </section>
        <section class="form-cost">
       
            <p class="cost-shipping">Calcular costo de envío</p>
            <label class="country" for="pais">País:</label>
            <input class="controls" type="text" name="País" id="pais" placeholder="País">
            <label class="estado" for="estado">Estado/Provincia:</label>
            <input class="controls" type="text" name="Provincia" id="estado" placeholder="Provincia">
            <label class="county" for="localidad">Localidad:</label>
            <input class="controls" type="text" name="Localidad" id="localidad" placeholder="Localidad">
            <label class="postal" for="codigo postal">Código postal:</label>
            <input class="controls" type="text" name="codigo postal" id="codigo postal" placeholder="Código postal">
             <input class="botton-ship" type="submit" value="Calcular envío">    
        </section>
        
        <section class="total-shipping">
           
            <p class="total-check">Totales</p>
            <p class="subtotal">Subtotal $</p>
            <p class="total-compra">TOTAL $</p>
            <input class="botton-next" type="submit" value="Realizar pedido">
            
            </section>
    


    </main>

</body>
</html>