<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Musiqueiros</title>

    <link rel="shortcut icon" href="./images/Images/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Implementando Google fonts (https://fonts.google.com/) -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- GoogleFonts => Copio y pego en el head los links que me da la GFonts, luego de haberlos elegido -->
    <link href="https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Roboto&display=swap" rel="stylesheet">
    <!-- GoogleFonts => Implementando Roboto + Palette Mosaic -->

    <script src="https://kit.fontawesome.com/17d45040ef.js" crossorigin="anonymous"></script>
    <!-- Implementando Font-Awesome -->

    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Implementando Libreria Normalize.css (https://necolas.github.io/normalize.css/) para que el sitio web sea homogeneo en los diferentes navegadores. Desde el sitio, descargo, guardo como la css en la misma carpeta del proyecto y luego la linkeo -->
    <link rel="stylesheet" href="/css/styles.css"> 

</head>

<body>

    <!-- ======= HEADER | BARRA DE NAVEGACION HOME ========= -->

    <header class="main-header">

        <nav class="main-header-izq">
            <!-- Creando la parte izquierda de la NavBar -->
            <img src="./images/Images/Logo redondo.jpg" class="logoMobile" alt="Logo Musiqueiros Mobile" />
            <img src="./images/Images/Logo Horizontal.jpg" class="logo" alt="Logo Musiqueiros" />
        </nav>

        <nav class="main-header-der">
            <!-- Creando la parte derecha de la NavBar -->
            <a href="#" class="hamburguer-button">
                <!-- Boton responsivo -->
                <i class="fas fa-bars"></i>
            </a>
            <ul>
                <!--style="text-decoration:none" le quita el subrayado a los enlaces -->
                <li><a href="/tienda" style="text-decoration:none">Comprar Musica</a></li>
                <li><a href="/tienda" style="text-decoration:none">Comprar Instrumentos</a></li>
            </ul>

            <!-- Boton Ingreso responsivo | Exibido en NavBar en > 700px -->
            <a href="/login" class="button" target="_blank">Ingresa </a>

        </nav>
    </header>



    <!-- ======= BODY | CUERPO DE LA HOME ========= -->

    <main>
        <section class="home-bodysection-head">
            <div>
                <img src="./images/Images/ChicaEscuchandoMusicaCutted.jpg" class="i-home-inicial"
                alt="girl listening music">
                <img src="./images/Images/ChicaEscuchandoMusicaCutted2.jpg" class="i-home-inicial-gradient"
                    alt="girl listening music">
            </div>

            <div class="home-bodysection-head-content">
                <h1>El marketplace de los amantes de la musica</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel excepturi deleniti debitis,perspiciatis tenetur repellat quis iste minus accusantium commodi expedita, consequuntur eligendi animi reprehenderit odio ab. Dicta, iste excepturi!</p>
                <!-- Boton Ingreso responsivo | Exibido en mobile en NavBar y siempre en main -->
                <a href="/login" class="access-button-home" target="_blank">Ingresa </a>
            </div>

        </section>

        <section class="home-bodysection-products">
            <div>
                <i class="far fa-play-circle"></i>
                <i class="fas fa-headphones"></i>
                <h2>Vende tu música</h2>
                <p>Rentabiliza tu talento, vendiendo tu música utilizando licencias NTF's sin intermediarios</p>
                <!-- Boton Enterate Como Vender tu musica | Exibido en la Home | Linkea una pagina previa al formulario de registro -->
                <a href="/register" class="SaleMusic-button-home" target="_blank">Enterate como </a>

            </div>

            <div>
                <i class="fas fa-guitar"></i>
                <i class="fas fa-drum"></i>
                <h2>Publica los instrumentos que quieras vender gratuitamente</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel excepturi deleniti debitis,
                    perspiciatis tenetur repellat quis iste minus accusantium commodi expedita, consequuntur eligendi
                    animi reprehenderit odio ab. Dicta, iste excepturi!</p>
                <!-- Boton Enterate Como Vender tus Instrumentos | Exibido en la Home | Linkea una pagina previa al formulario de registro -->
                <a href="/register" class="SaleInstruments-button-home" target="_blank">Enterate como </a>
            </div>
        </section>

        <section class="home-bodysection-products2">
            <div>
                <img src="./images/Images/TecladoAudifonoCutted.jpg" class="i-home-teclado"
                    alt="keyboard piano and headphones">
                    <img src="./images/Images/TecladoAudifonoCutted2.jpg" class="i-home-teclado-gradient"
                    alt="keyboard piano and headphones2">
                <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel excepturi deleniti debitis</p>
                <a href="/login" class="access-button-home2" target="_blank">Ingresa </a>
            </div>
        </section>

        <section class="home-bodysection-artists">
            <div>
                <h2>Artistas que confian en nosotros</h2>
                <i class="fas fa-chevron-left"></i>
                <article class="home-card-artist">
                    <img src="./images/Images/recomendado1Cropped.jpg" class="i-home-artist" alt="ClaraNunesUser">
                    <h5>Clara Nunes</h5>
                    <h5>Guitarrista</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel excepturi deleniti debitis </p>
                </article>
                <article class="home-card-artist">
                    <img src="./images/Images/recomendado2Cropped.jpg" class="i-home-artist" alt="ChizoCantante">
                    <h5>Chizo</h5>
                    <h5>Cantante</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel excepturi deleniti debitis</p>
                </article>
                <article class="home-card-artist">
                    <img src="./images/Images/recomendado3Cropped.jpg" class="i-home-artist"
                        alt="YezzaMesaMultinstrumentista">
                    <h5>Yezza Mesa</h5>
                    <h5>Multinstrumentista</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel excepturi deleniti debitis </p>
                </article>
                <i class="fas fa-chevron-right"></i>
            </div>

        </section>

    </main>

        <!-- ======= FOOTER | PIE DE PAGINA ========= -->

        <footer>
            <!-- Adicionando iconos font-awesome de redes sociales -->
            <div class="redessociales-footer">
                <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a href="#" target="_blank"><i class="fas fa-share-alt-square"></i></a>
            </div>

            <div class="main-footer">
                <div class="main-footer-der-text">
                    <ul>
                        <!--style="text-decoration:none" le quita el subrayado a los enlaces -->
                        <li><a href="#" style="text-decoration:none" target="_blank">Contactanos</a></li>
                        <li><a href="#" style="text-decoration:none" target="_blank">Acerca de</a></li>
                        <li><a href="#" style="text-decoration:none" target="_blank">Terminos y condiciones</a></li>
                    </ul>
                </div>

                <div class="main-footer-izq-text">
                    <ul>
                        <li><a href="#" style="text-decoration:none" target="_blank">Trabaja con nosotros</a></li>
                        <li><a href="#" style="text-decoration:none" target="_blank">FAQs</a></li>
                    </ul>
                </div>
            </div>
        </footer>
</body>

</html>