<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Musiqueiros</title>

    <link rel="preconnect" href="https://fonts.googleapis.com"> <!-- Implementando Google fonts (https://fonts.google.com/) -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- GoogleFonts => Copio y pego en el head los links que me da la GFonts, luego de haberlos elegido -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet"> <!-- GoogleFonts => Este link me permite trabajar con las fuentes que he elegido -->

    <link rel="stylesheet" href="/css/normalize.css"> <!-- Implementando Libreria Normalize.css (https://necolas.github.io/normalize.css/) para que el sitio web sea homogeneo en los diferentes navegadores. Desde el sitio, descargo, guardo como la css en la misma carpeta del proyecto y luego la linkeo -->
    
    <link rel="stylesheet" href="/css/styles.css"> <!-- Adicionado el vinculo con el CSS (siempre debe ser el ultimo link) -->


</head>
<body>
    <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit praesentium debitis aliquid, soluta laboriosam libero nemo provident, doloremque reiciendis quo sequi, blanditiis dicta sapiente facilis magni dignissimos cupiditate excepturi illum.</h1>
</body>
</html>