<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Musiqueiros</title>

    <link rel="preconnect" href="https://fonts.googleapis.com"> <!-- Implementando Google fonts (https://fonts.google.com/) -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- GoogleFonts => Copio y pego en el head los links que me da la GFonts, luego de haberlos elegido -->
    <link href="https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Roboto&display=swap" rel="stylesheet"> <!-- GoogleFonts => Implementando Roboto + Palette Mosaic -->

    <script src="https://kit.fontawesome.com/17d45040ef.js" crossorigin="anonymous"></script> <!-- Implementando Font-Awesome -->
    
    <link rel="stylesheet" href="/css/normalize.css"> <!-- Implementando Libreria Normalize.css (https://necolas.github.io/normalize.css/) para que el sitio web sea homogeneo en los diferentes navegadores. Desde el sitio, descargo, guardo como la css en la misma carpeta del proyecto y luego la linkeo -->
    <link rel="stylesheet" href="/css/stylesAlex.css">  <!-- Usa esta linea para direccionarla a tu CSS -->
    
    <!--<link rel="stylesheet" href="/css/styles.css">  Descomentar esta linea cuando el CSS este compilado -->

</head>
<body>
    <main class="mainContainer">
        <!--NAVBAR-->
        <section id="navbar">
            <img src="/images/Images/Logo.JPG" alt="logo">
            <ul>
                <li class="navbarOption"><a href="#">Ayuda</a></li>
            </ul>
        </section>
        <!--LOGIN-->
        <section id="login">
            <img src="/images/Icons/pngfind.com-black-png-1823885.png" alt="loginIcon">
            <p>Bienvenido</p>
            <form action="" id="loginForm">
                <div class="information">
                    <i class="fas fa-envelope"><input type="email" required placeholder="Email"></i>
                    <i class="fas fa-key"><input type="password" required placeholder="Password"></i>
                </div>
                <div class="options">
                    <div class="loggedIn">
                        <input type="checkbox" name="options" value="yes" id="loggedInOption">
                        <label for="loggedInOption">Mantengame conectado</label>
                    </div>
                    <p id="forgotPassword"><a href="#">Olvide de mi clave</a></p>
                </div>
                <button type="submit" id="loginButton">Login</button>
            </form>
        </section>
    </main>

    <script src="../server.js"></script>
</body>
</html>