<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Musiqueiros</title>

    <link rel="preconnect" href="https://fonts.googleapis.com"> <!-- Implementando Google fonts (https://fonts.google.com/) -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- GoogleFonts => Copio y pego en el head los links que me da la GFonts, luego de haberlos elegido -->
    <link href="https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Roboto&display=swap" rel="stylesheet"> <!-- GoogleFonts => Implementando Roboto + Palette Mosaic -->

    <script src="https://kit.fontawesome.com/17d45040ef.js" crossorigin="anonymous"></script> <!-- Implementando Font-Awesome -->
    
    <link rel="stylesheet" href="/css/normalize.css"> <!-- Implementando Libreria Normalize.css (https://necolas.github.io/normalize.css/) para que el sitio web sea homogeneo en los diferentes navegadores. Desde el sitio, descargo, guardo como la css en la misma carpeta del proyecto y luego la linkeo -->
    <link rel="stylesheet" href="/css/stylesAlex.css">  <!-- Usa esta linea para direccionarla a tu CSS -->
    
    <!--<link rel="stylesheet" href="/css/styles.css">  Descomentar esta linea cuando el CSS este compilado -->

</head>

<body>
    <header>
        <nav class="navbar"></nav> <!--ACA VA LA NAVBAR-->
    </header>
    <!--CONTENIDO-->
    <main class="principal">
        <!--productos-->
        <div class="product-container">
            <div class="productImages">
                <img src="" alt="productPhoto">
                <button>Subir Cancion</button>
                <button>Cambiar imagen</button>
            </div>
            <div class="productInformation-container">
                <div class="productInformation">
                    <h3>Titulo del anuncio</h3>
                    <div class="priceStars">
                        <p>Precio$</p>
                        <i class="fas fa-star">4.5</i>
                    </div>
                    <p>Descripcion del producto</p>
                    <i class="fas fa-shopping-cart">Agregar al carrito</i>
                </div>
                <div class="editar">
                    <button>Editar producto</button>
                </div>
            </div>
        </div>

        <!--productos relacionados-->
        <div class="related-container">
            <h4>Talvez tambien te interese...</h4>
            <div class="related-carrousel-container">
                <div class="carrouselCard">
                    <img src="" alt="productPhoto">
                    <div class="carrouselCardInfo">
                        <h5>Titulo</h5>
                        <p>Descripcion</p>
                    </div>
                </div>
                <div class="carrouselCard">
                    <img src="" alt="productPhoto">
                    <div class="carrouselCardInfo">
                        <h5>Titulo</h5>
                        <p>Descripcion</p>
                    </div>
                </div>
                <div class="carrouselCard">
                    <img src="" alt="productPhoto">
                    <div class="carrouselCardInfo">
                        <h5>Titulo</h5>
                        <p>Descripcion</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>