<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Musiqueiros</title>

    <link rel="shortcut icon" href="./images/Images/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Implementando Google fonts (https://fonts.google.com/) -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- GoogleFonts => Copio y pego en el head los links que me da la GFonts, luego de haberlos elegido -->
    <link href="https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Roboto&display=swap" rel="stylesheet">
    <!-- GoogleFonts => Implementando Roboto + Palette Mosaic -->

    <script src="https://kit.fontawesome.com/17d45040ef.js" crossorigin="anonymous"></script>
    <!-- Implementando Font-Awesome -->

    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Implementando Libreria Normalize.css (https://necolas.github.io/normalize.css/) para que el sitio web sea homogeneo en los diferentes navegadores. Desde el sitio, descargo, guardo como la css en la misma carpeta del proyecto y luego la linkeo -->
    <link rel="stylesheet" href="/css/styles.css"> 

</head>

<body>

    <!-- ======= HEADER | BARRA DE NAVEGACION HOME ========= -->

    <header class="main-header">

        <nav class="main-header-izq">
            <!-- Creando la parte izquierda de la NavBar -->
            <a href="/"><img src="/images/Images/Logo redondo.jpg" class="logoMobile" alt="Logo Musiqueiros Mobile" /></a>
            <a href="/"><img src="/images/Images/Logo Horizontal.jpg" class="logo" alt="Logo Musiqueiros" /></a>
        </nav>

        <nav class="main-header-der">
            <!-- Creando la parte derecha de la NavBar -->
            <a href="#" class="hamburguer-button">
                <!-- Boton responsivo -->
                <i class="fas fa-bars"></i>
            </a>
            <ul>
                <!--style="text-decoration:none" le quita el subrayado a los enlaces -->
                <li><a href="/tienda" style="text-decoration:none">Comprar Musica</a></li>
                <li><a href="/tienda" style="text-decoration:none">Comprar Instrumentos</a></li>
            </ul>

            <!-- Boton Ingreso responsivo | Exibido en NavBar en > 700px -->
            <a href="/login" class="button" target="_blank">Ingresa </a>

        </nav>
    </header>



    <!-- ======= BODY | CUERPO DEL USERPROFILE ========= -->

    <main>
                <!--FORMULARIO-->
                <section class="userprofile-form">        
                    <form action="/registro" method="POST" class="userprofile-formulario">
                    <h4>Edita tu perfil de usuario</h4>
                        <div>
                            <p class="userprofile-Texto-Descriptivo">
                                Puedes editar tu perfil de usuario y publicar tus anuncios desde aqui.<br>
                            </p>
                        </div>
    
                    <p>
                        <i class="fas fa-at"><label>     Email (no editable):</label></i>
                        <input class="userprofile-datos" type="email" name="email" id="email" placeholder="Tu email">
                        </label>
                    </p>
    
                    <div class="items">
                    <p>
                    <i class="fas fa-id-badge"></i><label>     Nombre:</label></i>
                    <input class="userprofile-datos" type="text" name="nombre" id="nombre" placeholder="Edita tu nombre"><i class="fas fa-user-edit"></i>
                    </p>
                    
                    <p>
                    <i class="fas fa-id-badge"><label>     Apellido:</label></i>
                    <input class="userprofile-datos" type="text" name="apellido" id="apellido" placeholder="Edita tu apellido"><i class="fas fa-user-edit"></i>
                    </p>
    
                    <p>
                    <i class="fas fa-key"><label>      Contraseña:</label></i>
                    <input class="userprofile-datos" type="password" name="password" id="password" placeholder="Edita tu contraseña"><i class="fas fa-user-edit"></i>
                    </p>
            
                    <p>
                    <i class="fas fa-music"><label>     Edita tu minibio en menos de 120 caracteres (sólo si sos músico)</label><br></i>
                    <textarea class="userprofile-datos" name="minibio" rows="3" maxlength="120" placeholder="Por Ejemplo: Soy guitarrista profesional hace 15 años. Tengo 4 trabajos publicados y estoy disponible para trabajar en conjunto con otros y crear una banda"></textarea><i class="fas fa-user-edit"></i>
                    </p>

                    <p>
                    <label>     Cuales son tus habilidades musicales?</label></i>
                        <select name="perfil">
                        <option value="Bajista">Bajista</option> 
                        <option value="Baterista">Baterista</option>
                        <option value="Cantante">Cantante</option> 
                        <option value="Guitarrista">Guitarrista</option> 
                        <option value="Multistrumentista">Multinstumentista</option> 
                        <option value="Productor">Productor</option> 
                        <option value="Otros">Otros</option> 
                        </select>          
                    <i class="fas fa-user-edit"></i>
                    </p>
                    
                    <input class="userprofile-button" button type="submit" value="Salvar"></button>
                    </div>


            <h4>Mis anuncios</h4>
                    <div>
                        <p class="userprofile-Registro-Texto-Descriptivo">
                            Podes ver, editar y crear tus anuncios desde aqui.<br>
                        </p>

                        <table class="userprofile-tableanuncios">
                            <tr>
                              <th>Anuncio</th>
                              <th>Descripción</th>
                              <th>Actualización</th>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>Vendo Bajo Fender</td>
                              <td>Eliminar | Editar</td>    
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Rock para volarte la peluca</td>
                              <td>Eliminar | Editar</td>   
                            </tr>
                          </table>
                          
                          <p class="userprofile-Registro-Texto-Descriptivo">
                            Informa que tipo de anuncio quieres crear y completalo:<br>
                          </p>

                        <section class="userprofile-crearanuncios">
                            <a href="/productempty" class="userprofile-venderproducto-button">Instrumento </a>

                            <a href="/songempty" class="userprofile-vendercancion-button">Canción </a>
                        </section>



                    </div>

    </form>

            </section>

    </main>

        <!-- ======= FOOTER | PIE DE PAGINA ========= -->

        <footer>
            <!-- Adicionando iconos font-awesome de redes sociales -->
            <div class="redessociales-footer">
                <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a href="#" target="_blank"><i class="fas fa-share-alt-square"></i></a>
            </div>

            <div class="main-footer">
                <div class="main-footer-der-text">
                    <ul>
                        <!--style="text-decoration:none" le quita el subrayado a los enlaces -->
                        <li><a href="#" style="text-decoration:none" target="_blank">Contactanos</a></li>
                        <li><a href="#" style="text-decoration:none" target="_blank">Acerca de</a></li>
                        <li><a href="#" style="text-decoration:none" target="_blank">Terminos y condiciones</a></li>
                    </ul>
                </div>

                <div class="main-footer-izq-text">
                    <ul>
                        <li><a href="#" style="text-decoration:none" target="_blank">Trabaja con nosotros</a></li>
                        <li><a href="#" style="text-decoration:none" target="_blank">FAQs</a></li>
                    </ul>
                </div>
            </div>
        </footer>
</body>

</html>